In [1]:
import json
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

In [2]:
#Opening our data of Institutions and Graduates per Institution.

In [3]:
Institutions = "resources/cc_institution_details.csv"
Institutions_db = pd.read_csv(Institutions,encoding="cp1252")

In [4]:
Grads = "resources/cc_institution_grads.csv"
Grads_db = pd.read_csv(Grads)

In [5]:
Institutions_db.head()

,unitid,chronname,city,state,level,control,basic,hbcu,flagship,long_x,...,vsa_grad_after6_transfer,vsa_grad_elsewhere_after6_transfer,vsa_enroll_after6_transfer,vsa_enroll_elsewhere_after6_transfer,similar,state_sector_ct,carnegie_ct,counted_pct,nicknames,cohort_size
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.568502,...,36.4,5.6,17.2,11.1,232937|100724|405997|113607|139533|144005|2285...,13,386,99.7|07,NaN,882.0
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.809170,...,NaN,NaN,NaN,NaN,196060|180461|201885|145600|209542|236939|1268...,13,106,56.0|07,UAB,1376.0
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,Baccalaureate Colleges--Arts & Sciences,NaN,NaN,-86.174010,...,NaN,NaN,NaN,NaN,217925|441511|205124|247825|197647|221856|1353...,16,252,100.0|07,NaN,3.0
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,Research Universities--very high research acti...,NaN,NaN,-86.638420,...,0.0,0.0,0.0,0.0,232186|133881|196103|196413|207388|171128|1900...,13,106,43.1|07,UAH,759.0
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,Masters Colleges and Universities--larger prog...,X,NaN,-86.295677,...,NaN,NaN,NaN,NaN,100654|232937|242617|243197|144005|241739|2354...,13,386,88.0|07,ASU,1351.0

In [6]:
#Grabbing the columns needed for our analysis

In [7]:
Inst = Institutions_db[["unitid","chronname","city","state","level","control","student_count","med_sat_value","aid_value","grad_100_value","grad_150_value"]]

In [8]:
Inst

,unitid,chronname,city,state,level,control,student_count,med_sat_value,aid_value,grad_100_value,grad_150_value
0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,11502,1146.0,6088.0,29.4,53.5
2,100690,Amridge University,Montgomery,Alabama,4-year,Private not-for-profit,322,NaN,2540.0,0.0,66.7
3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,5696,1180.0,6647.0,16.5,48.4
4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,5356,830.0,7256.0,8.8,25.2
...,...,...,...,...,...,...,...,...,...,...,...
3793,461528,Grace College of Divinity,Fayetteville,North Carolina,4-year,Private not-for-profit,110,NaN,4860.0,0.0,0.0
3794,462354,John Paul the Great Catholic University,Escondido,California,4-year,Private not-for-profit,140,1069.0,9395.0,51.5,51.5
3795,466921,Chamberlain College of Nursing-Missouri,St. Louis,Missouri,4-year,Private for-profit,488,NaN,3291.0,37.5,37.5
3796,474881,Minneapolis Media Institute,Edina,Minnesota,2-year,Private for-profit,147,NaN,3434.0,42.1,55.9
3797,475291,Brown College-Brooklyn Center,Brooklyn Center,Minnesota,4-year,Private for-profit,144,NaN,5379.0,34.8,47.8

In [9]:
#Filtering colleges for 4 years only

In [10]:
Inst2 = Inst.loc[(Inst["level"] == "4-year")]

In [11]:
len(Inst2)

2339

In [12]:
#Dropping all null values

In [13]:
Inst2 = Inst2.dropna()

In [14]:
len(Inst2)

1297

In [15]:
Howmanystates = Inst2.groupby(["state"]).count()

In [16]:
#Counting States of study

In [17]:
len(Howmanystates)

51

In [18]:
Grads_db

,unitid,year,gender,race,cohort,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate
0,100760,2011,B,X,2y all,446.0,73.0,105.0,16.4,23.5
1,100760,2011,M,X,2y all,185.0,NaN,40.0,NaN,21.6
2,100760,2011,F,X,2y all,261.0,NaN,65.0,NaN,24.9
3,100760,2011,B,W,2y all,348.0,NaN,86.0,NaN,24.7
4,100760,2011,M,W,2y all,162.0,NaN,35.0,NaN,21.6
...,...,...,...,...,...,...,...,...,...,...
1302097,168591,2002,F,Ai,4y other,NaN,NaN,NaN,NaN,NaN
1302098,168740,2002,F,Ai,4y other,0.0,NaN,0.0,NaN,NaN
1302099,169716,2002,F,Ai,4y other,NaN,NaN,NaN,NaN,NaN
1302100,170082,2002,F,Ai,4y other,NaN,NaN,NaN,NaN,NaN
1302101,170091,2002,F,Ai,4y other,0.0,NaN,0.0,NaN,NaN

In [19]:
len(Grads_db)

1302102

In [20]:
#We dropped a lot of records from the Institution database. Now, we have to get rid of all 
#the Institutions we have in Grads data set to have the same amount of schools 
#in the institutions db and the Grads_db to maintain data integrity.

In [21]:
b=Inst2["unitid"].unique()
b2=Grads_db["unitid"].unique()

In [22]:
len(b)

1297

In [23]:
len(b2)
#As seen here b and b2 don't have the same number of institutions
#in Grads data set

3979

In [24]:
#This following code creates an array with the schools that are not in InstitutionDB but exsists in Grads_db so we 
#can drop those students without schools, we expect a good amount of schools to be dropped from Grads.

In [25]:
StudentswithoutSchools=[]
for index, row in Grads_db.iterrows():
   
    School = row["unitid"]
   # print(School)
    SchoolsinInst = Inst2.loc[(Inst2["unitid"] == School)] 
    InstFlag = SchoolsinInst.empty
    if InstFlag == True:
        if School not in StudentswithoutSchools:
            StudentswithoutSchools.append(School)

In [27]:
len(StudentswithoutSchools)

2682

In [28]:
#The following code creates an array with the schools that are in Institution but not in Grads_db(Just a test) 
#because we expect to get zero, because we only dropped data from Institutions data base.
#So this test is just to make sure they had data integrity before we start using these tables for our analysis

In [29]:
SchoolsWOStudents=[]
for index, row in Inst2.iterrows():
   
    School = row["unitid"]
   # print(School)
    SchoolsinInst = Grads_db.loc[(Grads_db["unitid"] == School)] 
    InstFlag = SchoolsinInst.empty
    if InstFlag == True:
        if School not in SchoolsWOStudents:
            SchoolsWOStudents.append(School)

In [30]:
#This is expected to be zero because we didn't get rid of anything from Grads db yet
len(SchoolsWOStudents)

0

In [31]:
#Crating a dataframe from the array of schools to drop from Grads data set

In [32]:
columns = ["school"]
Table = pd.DataFrame(data=StudentswithoutSchools,columns=columns)

In [33]:
len(Table)

2682

In [34]:
len(Grads_db)

1302102

In [35]:
#This will drop all the students that have no school in the main Institution data.---It dropped 2682 schools that we had null values
#that made 744390 records dropped out of 1302102 from the Grads data
for index, row in Table.iterrows():
       
    School = row["school"]
    print(School)
    indexnumbers = Grads_db[Grads_db['unitid']==School].index
    Grads_db.drop(indexnumbers,inplace=True)

100760
101028
101143
101161
101240
101286
101295
101301
101462
101499
101505
101514
101569
101602
101648
101736
101897
101949
101958
101994
102030
102067
102076
102313
102429
103361
103909
103927
104160
104346
104425
104577
104708
105118
105145
105154
105206
105349
105428
105525
105543
105659
105668
105747
105792
106041
106148
106449
106625
106795
106883
106980
106999
107318
107327
107460
107521
107549
107585
107619
107637
107664
107725
107743
107974
107992
108667
108807
108852
109040
109208
109350
109819
109907
110246
110334
111009
111434
111461
111638
111887
111896
111920
111939
112172
112190
112385
112561
112686
112826
113096
113111
113193
113218
113236
113333
113573
113634
113856
113980
114123
114266
114415
114433
114716
114789
114859
114938
115001
115126
115296
115393
115454
115472
115490
115515
115533
115861
116439
117052
117195
117247
117274
117645
117690
117706
117715
117724
117733
117788
117867
117894
118198
118259
118277
118286
118347
118684
118718
118772
118912
118930
118976
119067
119137
119164
119216
119331
119359
119508
120290
120342
120421
120661
120953
120971
121044
121363
121619
121707
121886
121901
122180
122205
122339
122366
122375
122384
122658
122685
122694
122746
122791
122889
122977
123013
123208
123217
123299
123341
123484
123509
123527
123563
123642
123679
123800
124113
124681
124706
124937
125028
125091
125170
125462
125471
125499
125532
126119
126207
126289
126359
126401
126605
126687
126748
126784
126863
126924
126942
126951
127200
127389
127617
127732
127778
127787
127820
127839
127884
127909
128179
128188
128258
128577
129367
129543
129695
129729
129756
129808
130004
130040
130217
130396
130606
130891
130907
130916
131742
132806
133845
133854
133863
133960
134495
135124
135957
136145
136400
137759
138655
138682
138691
138761
138840
138956
139010
139214
139278
139357
139384
139700
139904
139986
139995
140003
140012
140243
140331
140599
140678
140942
141006
141158
141255
141468
141680
141796
141802
141811
141990
142054
142179
142443
142559
143215
143279
143613
144157
144166
144175
144184
144193
144209
144218
144467
144485
144564
144865
144944
145239
145521
145682
145707
145831
146205
146278
146296
146348
146366
146418
146472
146506
146603
146685
146700
146816
147004
147378
147396
147411
147749
147800
147916
148007
148140
148256
148292
148380
148399
148672
148821
148937
148991
149310
149365
149532
149727
149842
150048
150251
150987
151467
151661
152415
153214
153296
153311
153445
153472
153524
153533
153630
153737
153922
154059
154110
154129
154378
154396
154572
154642
154697
154794
154800
154907
154925
154934
154952
154998
155052
155098
155104
155177
155186
155195
155201
155210
155292
155450
155487
155566
155593
155618
155715
155830
155858
156107
156231
156338
156392
156471
156648
156790
156851
156860
156921
157304
157331
157438
157483
157553
157711
157739
157766
158088
158352
158431
158440
158662
158723
158884
159197
159407
159443
160010
160481
160524
160579
160649
160667
160913
160995
161022
161077
161138
161192
161484
161545
161581
161688
161767
161776
161864
162104
162122
162168
162557
162609
162690
162706
162779
163028
163426
163657
163736
164058
164313
164775
165033
165112
165194
165981
166133
166407
166647
166823
166887
166957
167312
167376
167525
167534
167631
167738
167905
168607
168883
169275
169521
169974
169992
170055
170240
170444
170541
170550
170587
170620
170657
170790
171155
171225
171234
171304
171395
171535
172200
172291
172307
172617
172635
172671
172918
172954
172963
173063
173115
173203
173416
173461
173559
173638
173708
173735
173799
173805
173911
173993
174118
174136
174376
174428
174473
174570
174604
174738
174756
175041
175157
175236
175263
175315
175519
175528
175573
175643
175652
175786
175810
175829
175883
175935
176008
176071
176169
176178
176239
176354
176549
177135
177250
177302
177472
177676
177977
177995
178110
178183
178217
178448
179308
179344
179511
179539
179645
179715
179919
180054
180081
180151
180160
180197
180203
180212
180249
180276
180328
180373
180902
181303
181312
181419
181491
181640
181756
181765
181817
181941
182148
182500
182908
183099
183105
183114
183123
183132
183141
183150
183248
183655
183743
183859
183877
183938
184180
184205
184481
184791
184959
184995
185509
185536
185873
186034
186469
186645
187198
187532
187620
187639
187666
187903
187912
187958
187976
187994
188003
188021
188049
188100
188137
188216
188225
188261
188438
188678
188687
189282
189422
189547
189574
189653
189811
189839
190053
190169
190442
190451
190521
190530
190585
190619
190628
190673
190840
190956
190974
191083
191199
191302
191339
191612
191719
191764
191959
191986
192022
192156
192509
192688
192961
193201
193283
193326
193478
193946
194028
194222
194240
194611
194967
195058
195191
195289
195322
195687
195784
195845
195988
196389
196477
196565
196699
197081
197294
197522
197814
197850
197887
197966
198011
198039
198084
198118
198154
198206
198233
198251
198260
198321
198330
198367
198376
198455
198491
198534
198552
198570
198622
198640
198668
198710
198729
198774
198817
198871
198905
198914
198923
198987
199023
199087
199263
199324
199333
199421
199449
199467
199476
199485
199494
199625
199634
199722
199731
199740
199768
199786
199795
199838
199856
199892
199908
199926
199953
200192
200208
200305
200314
200341
200590
200633
200846
201016
201283
201399
201432
201672
201751
201928
201973
202161
202222
202356
202435
202648
203155
203331
203599
203678
203720
203739
203748
203881
204060
204255
204307
204422
204440
204592
204608
204626
204662
204884
204945
205054
205391
205470
205513
205522
205559
205568
205708
205726
205841
205887
205966
206011
206093
206224
206394
206446
206923
206996
207050
207069
207236
207281
207290
207449
207625
207670
207740
207935
207962
208035
208275
208318
208390
208406
208415
208479
209038
209074
209250
209746
209940
210155
210234
210270
210359
210605
210890
211079
211149
211200
211307
211316
211343
211398
211617
211820
211909
211927
212045
212072
212090
212425
212434
212869
212878
212975
212993
213002
213233
213376
213473
213525
213534
213570
213589
213659
213774
213914
214023
214111
214290
214379
214528
214582
214838
214892
214944
215239
215309
215381
215390
215415
215433
215585
215646
215682
215992
216083
216296
216418
216427
216436
216445
216454
216551
216782
216825
217077
217086
217475
217615
217712
217837
217989
218025
218043
218113
218140
218353
218487
218520
218672
218681
218690
218706
218821
218830
218858
218885
218894
218955
218991
219055
219143
219189
219408
219426
219480
219824
219879
219888
219903
220057
220118
220400
220464
221096
221148
221184
221397
221485
221643
221908
222053
222062
222099
222105
222567
222576
222822
222992
223320
223427
223472
223524
223773
223816
223898
223922
224110
224183
224271
224350
224572
224615
224642
224660
224679
224891
224961
225070
225308
225371
225423
225520
225779
225788
225876
225991
226019
226107
226116
226134
226204
226277
226408
226578
226930
227146
227182
227191
227225
227304
227386
227401
227687
227766
227836
227854
227924
227979
228158
228316
228547
228608
228680
228699
229036
229319
229328
229355
229504
229540
229799
229832
229841
230418
230746
230861
231411
231536
231697
231873
231882
232052
232195
232414
232450
232575
232788
232867
232946
233019
233037
233091
233116
233310
233329
233338
233639
233648
233754
233772
233903
233949
234377
234696
234711
234933
234951
235103
235149
235237
235334
235343
235431
235495
235671
235750
236382
236610
236638
236656
236692
236708
236753
236887
236975
236993
237039
237109
237437
237598
237604
237817
237978
237987
237996
238014
238397
238722
238759
239008
239220
239248
239372
239442
239460
239488
239910
240055
240116
240125
240170
240198
240505
240514
240596
240620
240657
240666
240693
240718
244279
244437
244446
245032
245421
245430
245625
246008
246035
246202
246266
246354
246813
246974
247603
247834
247940
248776
248846
249609
250027
250601
251075
251260
260354
260372
260691
260992
261861
262031
262457
262509
363387
363633
364016
364025
364955
364973
365055
365204
366261
366270
366340
366395
366401
366447
366465
366535
366544
366960
367097
367112
367316
367459
368629
368780
368805
368911
369862
371052
371760
371779
371982
372037
372329
372772
372921
373058
373085
374875
375416

375841
375939
377111
377342
377449
377458
379029
380094
380359
380368
380438
381732
382504
382771
382896
382911
382957
383190
383950
383996
384209
384333
384342
385008
385503
387925
388043
389727
392257
395362
398574
399212
403469
403478
403487
404055
404365
404374
404383
404426
404499
404505
404514
404912
404921
404994
405872
406024
406033
407328
408394
409670
409874
410070
410283
410496
410520
410539
413626
414841
414911
417327
417734
418870
418889
420024
420103
420398
420404
420431
420440
420495
420501
420538
420556
420723
421513
421708
421878
422020
423652
423980
427973
427982
428170
428329
428392
429128
430050
430148
430157
430166
430351
430360
430795
431141
431886
432302
432524
433013
433174
433563
434016
434061
434140
434159
434566
434575
434584
434672
434690
434751
434821
436182
436225
436304
437060
437103
437732
437750
437769
437936
438212
438258
438285
438294
438647
438708
438869
439118
439127
439145
439190
439367
439437
439455
439482
439525
439570
439738
439792
439826
440110
440129
440271
440323
440332
440402
440642
440873
440882
440891
441025
441052
441070
441089
441201
441487
441502
441636
441760
441858
441919
441928
442037
442046
442231
442347
442383
442408
442426
442444
442602
442745
442781
442790
442879
443270
443377
443438
443492
443623
443650
443739
443827
443836
443854
444219
444343
444389
444565
444954
444972
445018
445090
445115
445197
445203
445230
445249
445328
445346
445470
445559
445601
445610
445674
445726
445753
445762
445814
446093
446385
446552
446774
446835
446844
446880
447014
447102
447120
447351
447379
447582
447625
447634
447768
447847
447935
448354
448372
448415
448460
448594
448600
448664
448859
449074
449083
449092
449117
449126
449524
449612
450003
450058
450067
450128
450155
450191
450289
450401
450696
450702
452063
452115
452373
453109
453455
453464
453473
453482
453747
454458
454616
454625
454740
455114
455390
455479
455488
455512
455646
455655
455673
455716
455983
456205
456393
456418
457101
459356
460394
460464
460747
461315
474881
100690
101073
101116
101189
101365
101675
102058
102298
102368
102553
102614
102632
102845
103644
103893
103945
104090
104188
104364
104717
104805
105163
105172
105297
105516
105534
106102
106306
106485
106810
107600
108232
108250
109651
110060
110185
110219
110370
110468
110945
111081
111966
112394
112446
112570
113582
114354
114390
115773
116466
116475
116484
116846
117113
117168
117557
117928
118541
119270
119544
119605
119775
121257
121275
121381
122506
122834
122843
122852
124487
125231
126076
126669
126702
126711
126827
126872
127024
127653
127680
127699
127714
127945
128683
128902
129154
129242
129774
130110
130253
130448
130776
130989
131113
131308
131399
131803
131876
132338
132693
132709
132842
132851
133021
133386
133465
133508
133702
133979
133997
134112
134121
134149
134237
134343
134510
134608
134680
134811
134909
135063
135081
135160
135188
135364
135391
135717
135939
136066
136233
136288
136358
136473
136516
136774
137032
137078
137096
137148
137209
137281
137315
137801
137810
137962
138187
138309
138558
138600
138813
138901
139074
139153
139250
139287
139463
139579
139621
139630
139719
139968
140252
140340
141167
141361
141839
142276
142337
142887
143048
143084
144281
144883
145460
145770
146010
146393
146427
146676
146755
147129
147165
147369
147536
147660
147679
148177
148335
148849
148876
149639
151166
151458
151494
151500
151519
151616
151625
151810
151944
152248
152637
152673
152798
152822
152992
153001
153241
153302
153409
153418
153427
153861
153977
154022
154095
154262
154350
154493
154767
154776
155007
155140
155283
155399
156082
156356
156417
156903
157021
157216
157270
157465
157599
157632
157696
157793
159993
160065
160409
160621
160658
160940
160959
160977
161217
161226
161341
161509
161572
161873
162210
162654
162681
163204
163532
163921
163976
164492
164562
164614
164641
164748
164872
164933
165167
165264
165334
165802
165884
166018
166124
166601
166850
166911
166939
166984
167057
167321
167455
167792
167835
168281
168421
168838
168847
169442
169479
170000
170091
170417
170967
171137
171298
171483
172033
172440
172866
173142
173489
173629
173887
173984
174020
174154
174206
174279
174385
174394
174507
175014
175078
175227
175272
176637
176664
176910
177038
177065
177117
177551
177579
177940
178226
178305
178350
178387
178402
178420
178679
178721
178767
178891
179070
179256
180179
180258
180647
180692
180814
180948
181242
181376
181400
181534
181738
181783
182005
182111
182306
182430
182458
182564
182634
182865
182980
183044
183071
183257
183789
186186
187596
187745
187897
188058
188182
188304
188340
188465
188517
188854
189088
189228
189413
189459
189556
189565
189583
189592
189848
189857
190114
190503
190725
190770
191126
191597
191621
191630
191968
192004
192110
192165
192192
192624
192712
192785
192819
192925
193016
193052
193247
193308
193584
194116
194499
194657
194666
194763
195128
195216
195234
195304
195438
196015
196024
196200
196264
196431
196583
196592
196653
197018
197027
197142
197285
197601
197610
197647
197674
197735
197744
197832
197993
198109
198242
198747
198808
198978
199643
199847
200013
200022
200086
200226
200466
200484
200527
200554
200785
201177
201469
201821
201946
201955
202073
202684
202806
202903
202912
203085
203313
203386
203447
203456
203465
203474
203483
203492
203526
203757
203845
203960
204006
204015
204316
204486
204671
204680
204699
204705
204802
204820
204839
204848
204866
205027
205179
205203
205443
205610
205647
206002
206279
206330
206491
206604
206613
206631
206695
206862
206914
207209
207254
207306
207397
207564
207689
207847
208239
208725
208965
209108
209241
209533
209603
210076
210304
210906
210942
210960
211477
211556
211608
211893
212577
213251
213321
214157
214883
214971
215053
215637
216047
216311
216667
217235
217305
217518
217606
217624
217721
217891
218399
218919
219000
219198
219204
219213
219259
219277
219374
219471
219505
220002
220206
220312
220552
220701
220941
221254
221795
221838
222877
222938
223463
223506
224439
224545
224776
225201
225502
225849
225858
225885
226806
226879
227377
228325
228486
228884
229887
230056
230171
230366
230384
230472
230597
230621
230630
230737
230782
230816
230825
230889
230898
230940
230977
231095
231785
231828
232016
232797
233356
233684
234137
234492
234669
234845
234915
234979
235024
235422
235510
235529
235699
235769
236072
236188
236258
236504
236513
237066
237686
237701
237783
238193
238263
238458
238661
238892
239017
239080
239309
239503
239929
240392
243823
244011
244154
244190
244233
245342
245652
245883
245953
245962
247065
247649
247700
248882
248934
251251
251312
260293
260789
260813
260901
260910
260974
261472
261931
262086
262332
363439
363934
364168
366003
366252
366553
366580
366650
366678
366696
366748
367024
367194
367839
367884
367909
367936
368443
368452
368601
369084
369516
369905
372073
372213
372222
372578
372958
373827
374972
375230
375489
377069
377546
378406
378576
379782
380377
380465
381617
381787
381909
384254
384412
385619
386472
388520
390701
398130
399869
401223
402776
404073
404082
404338
404648
405058
405854
405979
405988
405997
406006
406015
406194
406200
406219
406547
407063
407285
407319
408039
408844
409069
409315
410502
412599
413413
413617
413839
413848
413857
413866
413884
414160
414531
414568
414586
414595
414708
414823
414878
416962
417318
418126
419457
419509
420006
420042
420307
420316
421009
421018
421832
422695
426314
427663
428268
428286
428444
429599
430087
430184
430263
430379
430388
430485
430810
432223
432232
432241
432384
432533
433004
433387
433420
433536
434034
434052
434414
434539
434548
434557
434946
434955
434964
434973
434982
434991
436094
436191
436429
436438
436483
436702
437042
437051
437097
437219
437848
438151
438179
438382
438416
438498
438586
438601
438610
438629
438902
439057
439136
439279
439288
439297
439613
439701
440147
440299
440341
440420
440439
440448
440457
440466
440484
440749
440758
440767
440794
440925
441511
441900
441955
441964
441973
442143
442152
442161
442170
442189
442338
442356
442569
442578
442718
442930
443049
443331
443340
443474
443526
443535
443544
443687
443766
443784
443881
443890
443924
444088
444158
444167
444255
444398
444413
444574
444778
444927
445027
445072
445081
445124

445133
445258
445276
445300
445319
445391
445434
445708
445717
445920
445939
446233
446604
446640
446668
446677
446738
446747
446756
446765
446792
446808
446899
446905
446914
446923
447050
447069
447263
447272
447290
447360
447421
447458
447670
447689
447953
448309
448345
448442
448451
448479
448488
448497
448503
448512
448576
448585
448628
448673
448734
448761
449010
449038
449658
449870
449898
450049
450085
450094
450207
450216
450225
450234
450243
450252
450261
450270
450298
450377
450429
450447
450465
450526
450535
450571
450933
451060
451404
451556
451662
451671
451699
451750
451769
451796
451820
451848
451875
451936
451945
451954
451963
451972
451981
451990
452018
452027
453127
453163
453215
454227
454236
454245
454591
454856
454883
455257
455585
455600
455619
456010
456056
456296
456409
456427
456445
456490
456612
456667
456782
456791
456807
456816
456834
457022
457484
457688
458210
458229
458256
458432
458502
458557
458733
458742
458760
458779
458919
458964
458973
458991
459204
459675
459693
459709
459718
459727
459815
459842
459994
461032
461236
461528
466921
475291
101471
136075
140085
149019
151014
151157
179292
180045
202189
230092
230676
250407
364885
382054
409333
424424
430421
440305
445337
448363
448655
448789
367413
384193
384379
413802
414850
437927
442000
442684
444121
445355
445452
450021
178022
216986
223083
226329
104984
119456
151023
151032
151069
151078
152220
158769
249247
381796
406264
419022
423476
438638
439491
440244
447397
450137
450386
178785
205692
213057
134875
136011
137537
137892
140076
141307
150996
151005
151096
151245
166276
230162
376136
377421
384360
384388
384397
391582
417567
440378
440624
442310
444477
445009
179113
192475
205717
210483
126410
129613
140304
140997
143075
150978
151041
151050
151087
151193
152424
104531
138983
139533
139773
140483
140669
143297
151209
159948
164207
178989
202541
220589
228644
237154
402615
439163
440165
442824
443906
233499
238935
409829
409838
432199
438966
441399
442833
179201
224402
120166
122296
164571
232885
234216
381741
437316
440396
440536
440545
442365
443997
444060
448239
174932
177153
177162
183345
184269
197036
212805
216366
103723
113607
116040
130624
140322
144759
148016
161882
164155
228714
423670
432214
439330
440590
442499
442505
444033
445416
446710
176938
177719
193317
201140
201867
202611
110051
121071
128328
151236
157748

In [36]:
#Ending with this ammount of students

In [37]:
len(Grads_db)

557712

In [38]:
#found out we had to get rid of the distribution for gender and ethnicity by just grabing both genders
#and all races all sumarized.

In [39]:
BothGenders = Grads_db.loc[(Grads_db["gender"] == "B") & (Grads_db["race"] == "X")]

In [40]:
#This was the last step of the cleanng of our data, to end up with a Grads data set by year and by Institution, 
#and Institution data set by state. Keeping data ingerity among the two data sets and their institutions.

In [41]:
Grads_db2 = BothGenders.groupby(["unitid","year"], as_index=False).sum()

In [42]:
Grads_db2

,unitid,year,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate
0,100654,2002,716.0,147.0,278.0,20.5,38.8
1,100654,2003,789.0,159.0,300.0,20.2,38.0
2,100654,2004,995.0,182.0,326.0,18.3,32.8
3,100654,2005,1111.0,97.0,355.0,8.7,32.0
4,100654,2006,1020.0,118.0,342.0,11.6,33.5
...,...,...,...,...,...,...,...
15487,454184,2012,78.0,41.0,45.0,52.6,57.7
15488,454184,2013,44.0,25.0,27.0,56.8,61.4
15489,462354,2011,0.0,0.0,0.0,0.0,0.0
15490,462354,2012,19.0,12.0,12.0,63.2,63.2
15491,462354,2013,33.0,17.0,17.0,51.5,51.5

In [43]:
Grads_db2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15492 entries, 0 to 15491
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   unitid         15492 non-null  int64
 1   year           15492 non-null  int64
 2   grad_cohort    15492 non-null  float64
 3   grad_100       15492 non-null  float64
 4   grad_150       15492 non-null  float64
 5   grad_100_rate  15492 non-null  float64
 6   grad_150_rate  15492 non-null  float64
dtypes: float64(5), int64(2)
memory usage: 968.2 KB

In [44]:
#These datasets were saved to be used in our data analisys

In [45]:
Grads_db2.to_csv('resources/Grads_db2.csv')

In [46]:
Inst2.to_csv('resources/Inst2.csv')

In [47]:
#The following code is to find our max number of Graduates per each state.

In [48]:
#Opening the dataset for the population from 2002 to 2009

In [49]:
Population9 = "resources/population2009.csv"
population09 = pd.read_csv(Population9)
#open csv

In [50]:
population09.head()

,State,1-Jul-09,1-Jul-08,1-Jul-07,1-Jul-06,1-Jul-05,1-Jul-04,1-Jul-03,1-Jul-02
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"

In [51]:
#Opening the dataset for census from 2010 to 2013

In [52]:
Population13 = "resources/poppulation2013.csv"
population013 = pd.read_csv(Population13,encoding="cp1252")

In [53]:
pop13 = population013[["State","2010","2011","2012","2013"]]

In [54]:
pop13.head()

        State        2010        2011        2012        2013
0     Alabama   4,785,161   4,801,108   4,816,089   4,830,533
1      Alaska     714,021     722,720     731,228     737,442
2     Arizona   6,408,208   6,468,732   6,553,262   6,630,799
3    Arkansas   2,922,394   2,938,538   2,949,499   2,957,957
4  California  37,334,079  37,700,034  38,056,055  38,414,128

In [55]:
dict = {"1-Jul-09": "2009","1-Jul-08":"2008","1-Jul-07":"2007","1-Jul-06":"2006","1-Jul-05":"2005","1-Jul-04":"2004","1-Jul-03":"2003","1-Jul-02":"2002"}
pop09 = population09.rename(columns = dict)

In [56]:
pop09.head()

,State,2009,2008,2007,2006,2005,2004,2003,2002
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"

In [57]:
Population = pd.merge(pop09,pop13, how="inner", on="State")

In [58]:
Population.head()

,State,2009,2008,2007,2006,2005,2004,2003,2002,2010,2011,2012,2013
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420","4,785,161","4,801,108","4,816,089","4,830,533"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691","714,021","722,720","731,228","737,442"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108","6,408,208","6,468,732","6,553,262","6,630,799"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732","2,922,394","2,938,538","2,949,499","2,957,957"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194","37,334,079","37,700,034","38,056,055","38,414,128"

In [59]:
#After we merged the two datasets of estimated census per year we have now the table with census complete from 2002 to 2013

In [60]:
#The following command is to convert the columns into rows so we can merge with our grads table by state

In [61]:
Pop =Population.melt(id_vars=["State"], 
        var_name="Date", 
        value_name="Population")

In [62]:
Pop

             State  Date  Population
0          Alabama  2009   4,708,708
1           Alaska  2009     698,473
2          Arizona  2009   6,595,778
3         Arkansas  2009   2,889,450
4       California  2009  36,961,664
..             ...   ...         ...
619     Washington  2013   6,973,281
620  West Virginia  2013   1,852,985
621      Wisconsin  2013   5,743,653
622        Wyoming  2013     583,131
623    Puerto Rico  2013   3,593,079

[624 rows x 3 columns]

In [63]:
Grads = Grads_db2

In [64]:
Schools = Inst2

In [65]:
len(Grads)

15492

In [66]:
Grads.head()

   unitid  year  grad_cohort  grad_100  grad_150  grad_100_rate  grad_150_rate
0  100654  2002        716.0     147.0     278.0           20.5           38.8
1  100654  2003        789.0     159.0     300.0           20.2           38.0
2  100654  2004        995.0     182.0     326.0           18.3           32.8
3  100654  2005       1111.0      97.0     355.0            8.7           32.0
4  100654  2006       1020.0     118.0     342.0           11.6           33.5

In [67]:
Grads2 = pd.merge(Grads,Schools, how="outer", on="unitid")

In [68]:
len(Grads2)

15492

In [69]:
Grads2.head()

,unitid,year,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,chronname,city,state,level,control,student_count,med_sat_value,aid_value,grad_100_value,grad_150_value
0,100654,2002,716.0,147.0,278.0,20.5,38.8,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
1,100654,2003,789.0,159.0,300.0,20.2,38.0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
2,100654,2004,995.0,182.0,326.0,18.3,32.8,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
3,100654,2005,1111.0,97.0,355.0,8.7,32.0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
4,100654,2006,1020.0,118.0,342.0,11.6,33.5,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1

In [70]:
#We extract just the info we will need for the grads data set. We needed to get the state of the school in our Grads table.

In [71]:
Grads = Grads2[["unitid","state","year","control","grad_cohort","grad_100","grad_150"]]

In [72]:
Grads

,unitid,state,year,control,grad_cohort,grad_100,grad_150
0,100654,Alabama,2002,Public,716.0,147.0,278.0
1,100654,Alabama,2003,Public,789.0,159.0,300.0
2,100654,Alabama,2004,Public,995.0,182.0,326.0
3,100654,Alabama,2005,Public,1111.0,97.0,355.0
4,100654,Alabama,2006,Public,1020.0,118.0,342.0
...,...,...,...,...,...,...,...
15487,454184,New York,2012,Private not-for-profit,78.0,41.0,45.0
15488,454184,New York,2013,Private not-for-profit,44.0,25.0,27.0
15489,462354,California,2011,Private not-for-profit,0.0,0.0,0.0
15490,462354,California,2012,Private not-for-profit,19.0,12.0,12.0
15491,462354,California,2013,Private not-for-profit,33.0,17.0,17.0

In [73]:
ByStateYear = Grads.groupby(["state","year"],as_index=False).sum()

In [74]:
ByStateYear

       state  year   unitid  grad_cohort  grad_100  grad_150
0    Alabama  2002  2232644      15667.0    4187.0    7723.0
1    Alabama  2003  2232644      15988.0    4123.0    7916.0
2    Alabama  2004  2232644      16960.0    4183.0    8146.0
3    Alabama  2005  2232644      17758.0    4402.0    8551.0
4    Alabama  2006  2232644      17921.0    4599.0    8698.0
..       ...   ...      ...          ...       ...       ...
607  Wyoming  2009   240727       1388.0     310.0     767.0
608  Wyoming  2010   240727       1496.0     336.0     793.0
609  Wyoming  2011   240727       1399.0     320.0     744.0
610  Wyoming  2012   240727       1543.0     359.0     840.0
611  Wyoming  2013   240727       1614.0     389.0     873.0

[612 rows x 6 columns]

In [75]:
Pop["Date"]= Pop["Date"].astype(int)

In [76]:
ByStateYearplusPop = pd.merge(ByStateYear,Pop, how="inner", left_on =["state","year"], right_on=["State","Date"])

In [77]:
#Finally here we have the Grads data set with the state and also the population of the state so we can calculate
#the graduation rate in relation of the population of the state per year.

In [78]:
ByStateYearplusPop

,state,year,unitid,grad_cohort,grad_100,grad_150,State,Date,Population
0,Alabama,2002,2232644,15667.0,4187.0,7723.0,Alabama,2002,"4,472,420"
1,Alabama,2003,2232644,15988.0,4123.0,7916.0,Alabama,2003,"4,490,591"
2,Alabama,2004,2232644,16960.0,4183.0,8146.0,Alabama,2004,"4,512,190"
3,Alabama,2005,2232644,17758.0,4402.0,8551.0,Alabama,2005,"4,545,049"
4,Alabama,2006,2232644,17921.0,4599.0,8698.0,Alabama,2006,"4,597,688"
...,...,...,...,...,...,...,...,...,...
607,Wyoming,2009,240727,1388.0,310.0,767.0,Wyoming,2009,"544,270"
608,Wyoming,2010,240727,1496.0,336.0,793.0,Wyoming,2010,"564,516"
609,Wyoming,2011,240727,1399.0,320.0,744.0,Wyoming,2011,"567,768"
610,Wyoming,2012,240727,1543.0,359.0,840.0,Wyoming,2012,"577,080"
611,Wyoming,2013,240727,1614.0,389.0,873.0,Wyoming,2013,"583,131"

In [79]:
#New column for the total of Grads per state per year including both within 4 and within 6 years

In [80]:
ByStateYearplusPop["Total100pls150"] = ByStateYearplusPop["grad_100"] + ByStateYearplusPop["grad_150"]

In [81]:
ByStateYearplusPop = ByStateYearplusPop[["state","year","grad_100","grad_150","Population","Total100pls150"]]

In [82]:
ByStateYearplusPop

       state  year  grad_100  grad_150 Population  Total100pls150
0    Alabama  2002    4187.0    7723.0  4,472,420         11910.0
1    Alabama  2003    4123.0    7916.0  4,490,591         12039.0
2    Alabama  2004    4183.0    8146.0  4,512,190         12329.0
3    Alabama  2005    4402.0    8551.0  4,545,049         12953.0
4    Alabama  2006    4599.0    8698.0  4,597,688         13297.0
..       ...   ...       ...       ...        ...             ...
607  Wyoming  2009     310.0     767.0    544,270          1077.0
608  Wyoming  2010     336.0     793.0    564,516          1129.0
609  Wyoming  2011     320.0     744.0    567,768          1064.0
610  Wyoming  2012     359.0     840.0    577,080          1199.0
611  Wyoming  2013     389.0     873.0    583,131          1262.0

[612 rows x 6 columns]

In [83]:
#replace the commas with spaces to make it into a numeric fiels for our per capita calculations

In [84]:
ByStateYearplusPop= ByStateYearplusPop.replace(to_replace=',',value='', regex = True)

In [85]:
ByStateYearplusPop["Population"]= ByStateYearplusPop["Population"].astype(float)

In [86]:
ByStateYearplusPop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           612 non-null    object
 1   year            612 non-null    int64
 2   grad_100        612 non-null    float64
 3   grad_150        612 non-null    float64
 4   Population      612 non-null    float64
 5   Total100pls150  612 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 33.5+ KB

In [87]:
ByStateYearplusPop

       state  year  grad_100  grad_150  Population  Total100pls150
0    Alabama  2002    4187.0    7723.0   4472420.0         11910.0
1    Alabama  2003    4123.0    7916.0   4490591.0         12039.0
2    Alabama  2004    4183.0    8146.0   4512190.0         12329.0
3    Alabama  2005    4402.0    8551.0   4545049.0         12953.0
4    Alabama  2006    4599.0    8698.0   4597688.0         13297.0
..       ...   ...       ...       ...         ...             ...
607  Wyoming  2009     310.0     767.0    544270.0          1077.0
608  Wyoming  2010     336.0     793.0    564516.0          1129.0
609  Wyoming  2011     320.0     744.0    567768.0          1064.0
610  Wyoming  2012     359.0     840.0    577080.0          1199.0
611  Wyoming  2013     389.0     873.0    583131.0          1262.0

[612 rows x 6 columns]

In [88]:
ByStateYearplusPop["TotalPercapita"] = (ByStateYearplusPop["Total100pls150"]/(ByStateYearplusPop["Population"]))*100000

In [89]:
ByStateYearplusPop

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
0,Alabama,2002,4187.0,7723.0,4472420.0,11910.0,266.298782
1,Alabama,2003,4123.0,7916.0,4490591.0,12039.0,268.093888
2,Alabama,2004,4183.0,8146.0,4512190.0,12329.0,273.237607
3,Alabama,2005,4402.0,8551.0,4545049.0,12953.0,284.991427
4,Alabama,2006,4599.0,8698.0,4597688.0,13297.0,289.210577
...,...,...,...,...,...,...,...
607,Wyoming,2009,310.0,767.0,544270.0,1077.0,197.879729
608,Wyoming,2010,336.0,793.0,564516.0,1129.0,199.994331
609,Wyoming,2011,320.0,744.0,567768.0,1064.0,187.400488
610,Wyoming,2012,359.0,840.0,577080.0,1199.0,207.770153
611,Wyoming,2013,389.0,873.0,583131.0,1262.0,216.417923

In [90]:
#Now that we have the total of Grads per capita we can single out per year which state had the most grads using the total grads
#percapita
#The following code is to single out the state with the max number of grads percapita.

In [91]:
inx = ByStateYearplusPop.groupby(['year'])["TotalPercapita"].transform(max)==ByStateYearplusPop["TotalPercapita"]

In [92]:
ByStateYearplusPop[inx]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
96,District of Columbia,2002,3718.0,4220.0,579585.0,7938.0,1369.600663
97,District of Columbia,2003,3859.0,4515.0,577777.0,8374.0,1449.348105
98,District of Columbia,2004,4253.0,4902.0,579796.0,9155.0,1579.003650
99,District of Columbia,2005,4413.0,5075.0,582049.0,9488.0,1630.103307
100,District of Columbia,2006,4604.0,5281.0,583978.0,9885.0,1692.700752
101,District of Columbia,2007,5224.0,5843.0,586409.0,11067.0,1887.249343
102,District of Columbia,2008,5047.0,5658.0,590074.0,10705.0,1814.179239
103,District of Columbia,2009,5056.0,5645.0,599657.0,10701.0,1784.520151
104,District of Columbia,2010,5351.0,6052.0,605126.0,11403.0,1884.400935
105,District of Columbia,2011,5244.0,5863.0,620472.0,11107.0,1790.088836
106,District of Columbia,2012,5401.0,6092.0,635342.0,11493.0,1808.946992
107,District of Columbia,2013,5102.0,5759.0,649540.0,10861.0,1672.106414

In [93]:
#Our findings were to expect since we have a good amout of students graduating from DC and it si a very small population

In [94]:
#Then we found the sate with the Max number of grads per year without considering the population per state.
#The following code is to single out the state with the max number of grads.

In [95]:
inx2 = ByStateYearplusPop.groupby(['year'])["Total100pls150"].transform(max)==ByStateYearplusPop["Total100pls150"]

In [96]:
ByStateYearplusPop[inx2]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
52,California,2006,30130.0,53578.0,35979208.0,83708.0,232.656594
53,California,2007,32254.0,56047.0,36226122.0,88301.0,243.749524
54,California,2008,35074.0,59181.0,36580371.0,94255.0,257.665511
55,California,2009,36257.0,60826.0,36961664.0,97083.0,262.658629
56,California,2010,37111.0,60521.0,37334079.0,97632.0,261.509063
57,California,2011,38549.0,63822.0,37700034.0,102371.0,271.540869
58,California,2012,41881.0,69958.0,38056055.0,111839.0,293.879647
59,California,2013,42673.0,71849.0,38414128.0,114522.0,298.124690
384,New York,2002,27845.0,41294.0,19161873.0,69139.0,360.815459
385,New York,2003,30443.0,44596.0,19231101.0,75039.0,390.196068
386,New York,2004,31508.0,46214.0,19297933.0,77722.0,402.747797
387,New York,2005,33564.0,48570.0,19330891.0,82134.0,424.884709

In [97]:
#We found CALIFORNIA had the most grads in 2013 and it was very consistent througout the most recent years.
#So we decided to go with this state due to the ammount of schools that were involved in this study.
#Now that we have a year and state with the most graduates we are going to analyze the relationships to why this state has the most grads.

In [98]:
California = Grads.loc[(Grads["state"]=="California") & (Grads["year"]==2013)]

In [99]:
California

,unitid,state,year,control,grad_cohort,grad_100,grad_150
563,109785,California,2013,Private not-for-profit,848.0,399.0,550.0
575,110097,California,2013,Private not-for-profit,789.0,385.0,538.0
587,110361,California,2013,Private not-for-profit,489.0,200.0,284.0
599,110404,California,2013,Private not-for-profit,231.0,190.0,215.0
611,110413,California,2013,Private not-for-profit,424.0,260.0,297.0
...,...,...,...,...,...,...,...
15374,399911,California,2013,Private not-for-profit,101.0,79.0,85.0
15386,409698,California,2013,Public,734.0,88.0,281.0
15410,441937,California,2013,Public,512.0,106.0,264.0
15437,445188,California,2013,Public,668.0,179.0,379.0
15491,462354,California,2013,Private not-for-profit,33.0,17.0,17.0

In [100]:
California.to_csv("resources/California.csv")