In [170]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json

In [171]:
Population9 = "resources/population2009.csv"
population09 = pd.read_csv(Population9)
#open csv

In [172]:
population09.head(50)

,State,1-Jul-09,1-Jul-08,1-Jul-07,1-Jul-06,1-Jul-05,1-Jul-04,1-Jul-03,1-Jul-02
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"
5,Colorado,"5,024,748","4,935,213","4,842,259","4,753,044","4,660,780","4,599,681","4,548,775","4,504,265"
6,Connecticut,"3,518,288","3,502,932","3,488,633","3,485,162","3,477,416","3,474,610","3,467,673","3,448,382"
7,Delaware,"885,122","876,211","864,896","853,022","839,906","826,639","814,905","804,131"
8,District of Columbia,"599,657","590,074","586,409","583,978","582,049","579,796","577,777","579,585"
9,Florida,"18,537,969","18,423,878","18,277,888","18,088,505","17,783,868","17,375,259","16,981,183","16,680,309"
10,Georgia,"9,829,211","9,697,838","9,533,761","9,330,086","9,097,428","8,913,676","8,735,259","8,585,535"
11,Hawaii,"1,295,178","1,287,481","1,276,832","1,275,599","1,266,117","1,252,782","1,239,298","1,228,069"
12,Idaho,"1,545,801","1,527,506","1,499,245","1,464,413","1,425,862","1,391,718","1,364,109","1,342,149"
13,Illinois,"12,910,409","12,842,954","12,779,417","12,718,011","12,674,452","12,645,295","12,597,981","12,558,229"
14,Indiana,"6,423,113","6,388,309","6,346,113","6,301,700","6,253,120","6,214,454","6,181,789","6,149,007"
15,Iowa,"3,007,856","2,993,987","2,978,719","2,964,391","2,949,450","2,941,358","2,932,799","2,929,264"
16,Kansas,"2,818,747","2,797,375","2,775,586","2,755,700","2,741,771","2,730,765","2,721,955","2,712,598"
17,Kentucky,"4,314,113","4,287,931","4,256,278","4,219,374","4,182,293","4,147,970","4,118,627","4,091,330"
18,Louisiana,"4,492,076","4,451,513","4,376,122","4,240,327","4,497,691","4,489,327","4,474,726","4,466,068"
19,Maine,"1,318,301","1,319,691","1,317,308","1,314,963","1,311,631","1,308,253","1,303,102","1,293,938"
20,Maryland,"5,699,478","5,658,655","5,634,242","5,612,196","5,582,520","5,542,659","5,496,708","5,439,913"
21,Massachusetts,"6,593,587","6,543,595","6,499,275","6,466,399","6,453,031","6,451,279","6,451,637","6,440,978"
22,Michigan,"9,969,727","10,002,486","10,050,847","10,082,438","10,090,554","10,089,305","10,066,351","10,038,767"
23,Minnesota,"5,266,214","5,230,567","5,191,206","5,148,346","5,106,560","5,079,344","5,047,862","5,017,458"
24,Mississippi,"2,951,996","2,940,212","2,921,723","2,897,150","2,900,116","2,886,006","2,867,678","2,858,643"
25,Missouri,"5,987,580","5,956,335","5,909,824","5,861,572","5,806,639","5,758,444","5,714,847","5,680,852"
26,Montana,"974,989","968,035","957,225","946,230","934,801","925,887","916,750","909,868"
27,Nebraska,"1,796,619","1,781,949","1,769,912","1,760,435","1,751,721","1,742,184","1,733,680","1,725,083"
28,Nevada,"2,643,085","2,615,772","2,567,752","2,493,405","2,408,804","2,328,703","2,236,949","2,166,214"
29,New Hampshire,"1,324,575","1,321,872","1,317,343","1,311,894","1,301,415","1,292,766","1,281,871","1,271,163"
30,New Jersey,"8,707,739","8,663,398","8,636,043","8,623,721","8,621,837","8,611,530","8,583,481","8,544,115"
31,New Mexico,"2,009,671","1,986,763","1,968,731","1,942,608","1,916,538","1,891,829","1,869,683","1,850,035"
32,New York,"19,541,453","19,467,789","19,422,777","19,356,564","19,330,891","19,297,933","19,231,101","19,161,873"
33,North Carolina,"9,380,884","9,247,134","9,064,074","8,866,977","8,669,452","8,531,283","8,416,451","8,316,617"
34,North Dakota,"646,844","641,421","638,202","636,771","635,365","636,303","632,809","633,617"
35,Ohio,"11,542,645","11,528,072","11,520,815","11,492,495","11,475,262","11,464,593","11,445,180","11,420,981"
36,Oklahoma,"3,687,050","3,644,025","3,612,186","3,574,334","3,532,769","3,514,449","3,498,687","3,484,754"
37,Oregon,"3,825,657","3,782,991","3,732,957","3,677,545","3,617,869","3,573,505","3,550,180","3,517,111"
38,Pennsylvania,"12,604,767","12,566,368","12,522,531","12,471,142","12,418,161","12,388,368","12,357,524","12,326,302"
39,Rhode Island,"1,053,209","1,053,502","1,055,009","1,060,196","1,064,989","1,071,414","1,071,504","1,066,034"
40,South Carolina,"4,561,242","4,503,280","4,424,232","4,339,399","4,256,199","4,201,306","4,146,474","4,103,934"
41,South Dakota,"812,383","804,532","797,035","788,519","780,084","774,283","766,975","762,107"
42,Tennessee,"6,296,254","6,240,456","6,172,862","6,089,453","5,995,748","5,916,762","5,856,522","5,803,306"
43,Texas,"24,782,302","24,304,290","23,837,701","23,369,024","22,801,920","22,418,319","22,057,801","21,710,788"
44,Utah,"2,784,572","2,727,343","2,663,796","2,583,724","2,499,637","2,438,915","2,379,938","2,334,473"
45,Vermont,"621,760","621,049","620,460","619,985","618,814","618,145","616,559","614,950"
46,Virginia,"7,882,590","7,795,424","7,719,749","7,646,996","7,563,887","7,468,914","7,373,694","7,283,541"
47,Washington,"6,664,195","6,566,073","6,464,979","6,372,243","6,261,282","6,184,289","6,113,262","6,056,187"
48,West Virginia,"1,819,777","1,814,873","1,811,198","1,807,237","1,803,920","1,803,302","1,802,238","1,799,411"
49,Wisconsin,"5,654,774","5,627,610","5,601,571","5,571,680","5,541,443","5,511,385","5,476,796","5,446,766"

In [173]:
Population13 = "resources/poppulation2013.csv"
population013 = pd.read_csv(Population13,encoding="cp1252")

In [174]:

pop13 = population013[["State","2010","2011","2012","2013"]]

In [175]:
pop13

                   State        2010        2011        2012        2013
0                Alabama   4,785,161   4,801,108   4,816,089   4,830,533
1                 Alaska     714,021     722,720     731,228     737,442
2                Arizona   6,408,208   6,468,732   6,553,262   6,630,799
3               Arkansas   2,922,394   2,938,538   2,949,499   2,957,957
4             California  37,334,079  37,700,034  38,056,055  38,414,128
5               Colorado   5,048,254   5,119,480   5,191,731   5,271,132
6            Connecticut   3,579,717   3,589,759   3,593,541   3,597,168
7               Delaware     899,791     907,916     917,099     925,353
8   District of Columbia     605,126     620,472     635,342     649,540
9                Florida  18,849,890  19,105,533  19,352,021  19,594,467
10               Georgia   9,713,454   9,812,280   9,917,639   9,991,562
11                Hawaii   1,363,980   1,378,227   1,392,641   1,408,765
12                 Idaho   1,570,986   1,584,134   1,596,097   1,612,785
13              Illinois  12,841,249  12,861,882  12,875,167  12,889,580
14               Indiana   6,490,590   6,516,845   6,538,283   6,570,518
15                  Iowa   3,050,694   3,065,389   3,076,636   3,092,224
16                Kansas   2,858,824   2,869,917   2,886,281   2,894,630
17              Kentucky   4,347,937   4,367,882   4,382,667   4,398,500
18             Louisiana   4,544,951   4,575,381   4,603,676   4,627,491
19                 Maine   1,327,695   1,328,257   1,328,888   1,328,778
20              Maryland   5,788,409   5,844,171   5,890,740   5,936,040
21         Massachusetts   6,565,036   6,611,797   6,657,780   6,708,810
22              Michigan   9,877,369   9,876,589   9,886,879   9,900,506
23             Minnesota   5,310,903   5,348,119   5,380,443   5,420,541
24           Mississippi   2,970,316   2,977,999   2,985,660   2,990,976
25              Missouri   5,996,052   6,010,587   6,025,468   6,043,708
26               Montana     990,643     997,746   1,005,157   1,014,402
27              Nebraska   1,830,025   1,842,383   1,855,973   1,869,300
28                Nevada   2,703,440   2,718,819   2,754,874   2,790,366
29         New Hampshire   1,316,708   1,318,344   1,321,393   1,322,660
30            New Jersey   8,803,881   8,842,934   8,874,893   8,907,384
31            New Mexico   2,064,741   2,078,226   2,084,792   2,086,890
32              New York  19,402,920  19,523,202  19,606,981  19,691,032
33        North Carolina   9,558,979   9,651,025   9,747,021   9,845,432
34          North Dakota     674,530     685,326     702,265     723,626
35                  Ohio  11,540,766  11,545,442  11,551,783  11,572,232
36              Oklahoma   3,759,596   3,786,626   3,817,679   3,853,405
37                Oregon   3,837,972   3,868,509   3,899,444   3,928,030
38          Pennsylvania  12,712,014  12,745,202  12,772,789  12,783,536
39          Rhode Island   1,053,219   1,051,856   1,052,393   1,052,856
40        South Carolina   4,635,894   4,672,733   4,721,341   4,768,498
41          South Dakota     816,299     824,289     834,631     845,270
42             Tennessee   6,356,585   6,398,408   6,455,469   6,496,130
43                 Texas  25,244,363  25,654,464  26,089,741  26,500,674
44                  Utah   2,775,426   2,816,440   2,856,343   2,903,685
45               Vermont     625,984     626,687     626,398     627,129
46              Virginia   8,025,787   8,110,783   8,193,374   8,267,875
47            Washington   6,743,060   6,823,229   6,897,292   6,973,281
48         West Virginia   1,854,225   1,854,948   1,856,283   1,852,985
49             Wisconsin   5,690,204   5,709,720   5,726,422   5,743,653
50               Wyoming     564,516     567,768     577,080     583,131
51           Puerto Rico   3,721,526   3,678,736   3,634,487   3,593,079

In [176]:
dict = {"1-Jul-09": "2009","1-Jul-08":"2008","1-Jul-07":"2007","1-Jul-06":"2006","1-Jul-05":"2005","1-Jul-04":"2004","1-Jul-03":"2003","1-Jul-02":"2002"}
pop09 = population09.rename(columns = dict)

In [177]:
pop09

,State,2009,2008,2007,2006,2005,2004,2003,2002
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194"
5,Colorado,"5,024,748","4,935,213","4,842,259","4,753,044","4,660,780","4,599,681","4,548,775","4,504,265"
6,Connecticut,"3,518,288","3,502,932","3,488,633","3,485,162","3,477,416","3,474,610","3,467,673","3,448,382"
7,Delaware,"885,122","876,211","864,896","853,022","839,906","826,639","814,905","804,131"
8,District of Columbia,"599,657","590,074","586,409","583,978","582,049","579,796","577,777","579,585"
9,Florida,"18,537,969","18,423,878","18,277,888","18,088,505","17,783,868","17,375,259","16,981,183","16,680,309"
10,Georgia,"9,829,211","9,697,838","9,533,761","9,330,086","9,097,428","8,913,676","8,735,259","8,585,535"
11,Hawaii,"1,295,178","1,287,481","1,276,832","1,275,599","1,266,117","1,252,782","1,239,298","1,228,069"
12,Idaho,"1,545,801","1,527,506","1,499,245","1,464,413","1,425,862","1,391,718","1,364,109","1,342,149"
13,Illinois,"12,910,409","12,842,954","12,779,417","12,718,011","12,674,452","12,645,295","12,597,981","12,558,229"
14,Indiana,"6,423,113","6,388,309","6,346,113","6,301,700","6,253,120","6,214,454","6,181,789","6,149,007"
15,Iowa,"3,007,856","2,993,987","2,978,719","2,964,391","2,949,450","2,941,358","2,932,799","2,929,264"
16,Kansas,"2,818,747","2,797,375","2,775,586","2,755,700","2,741,771","2,730,765","2,721,955","2,712,598"
17,Kentucky,"4,314,113","4,287,931","4,256,278","4,219,374","4,182,293","4,147,970","4,118,627","4,091,330"
18,Louisiana,"4,492,076","4,451,513","4,376,122","4,240,327","4,497,691","4,489,327","4,474,726","4,466,068"
19,Maine,"1,318,301","1,319,691","1,317,308","1,314,963","1,311,631","1,308,253","1,303,102","1,293,938"
20,Maryland,"5,699,478","5,658,655","5,634,242","5,612,196","5,582,520","5,542,659","5,496,708","5,439,913"
21,Massachusetts,"6,593,587","6,543,595","6,499,275","6,466,399","6,453,031","6,451,279","6,451,637","6,440,978"
22,Michigan,"9,969,727","10,002,486","10,050,847","10,082,438","10,090,554","10,089,305","10,066,351","10,038,767"
23,Minnesota,"5,266,214","5,230,567","5,191,206","5,148,346","5,106,560","5,079,344","5,047,862","5,017,458"
24,Mississippi,"2,951,996","2,940,212","2,921,723","2,897,150","2,900,116","2,886,006","2,867,678","2,858,643"
25,Missouri,"5,987,580","5,956,335","5,909,824","5,861,572","5,806,639","5,758,444","5,714,847","5,680,852"
26,Montana,"974,989","968,035","957,225","946,230","934,801","925,887","916,750","909,868"
27,Nebraska,"1,796,619","1,781,949","1,769,912","1,760,435","1,751,721","1,742,184","1,733,680","1,725,083"
28,Nevada,"2,643,085","2,615,772","2,567,752","2,493,405","2,408,804","2,328,703","2,236,949","2,166,214"
29,New Hampshire,"1,324,575","1,321,872","1,317,343","1,311,894","1,301,415","1,292,766","1,281,871","1,271,163"
30,New Jersey,"8,707,739","8,663,398","8,636,043","8,623,721","8,621,837","8,611,530","8,583,481","8,544,115"
31,New Mexico,"2,009,671","1,986,763","1,968,731","1,942,608","1,916,538","1,891,829","1,869,683","1,850,035"
32,New York,"19,541,453","19,467,789","19,422,777","19,356,564","19,330,891","19,297,933","19,231,101","19,161,873"
33,North Carolina,"9,380,884","9,247,134","9,064,074","8,866,977","8,669,452","8,531,283","8,416,451","8,316,617"
34,North Dakota,"646,844","641,421","638,202","636,771","635,365","636,303","632,809","633,617"
35,Ohio,"11,542,645","11,528,072","11,520,815","11,492,495","11,475,262","11,464,593","11,445,180","11,420,981"
36,Oklahoma,"3,687,050","3,644,025","3,612,186","3,574,334","3,532,769","3,514,449","3,498,687","3,484,754"
37,Oregon,"3,825,657","3,782,991","3,732,957","3,677,545","3,617,869","3,573,505","3,550,180","3,517,111"
38,Pennsylvania,"12,604,767","12,566,368","12,522,531","12,471,142","12,418,161","12,388,368","12,357,524","12,326,302"
39,Rhode Island,"1,053,209","1,053,502","1,055,009","1,060,196","1,064,989","1,071,414","1,071,504","1,066,034"
40,South Carolina,"4,561,242","4,503,280","4,424,232","4,339,399","4,256,199","4,201,306","4,146,474","4,103,934"
41,South Dakota,"812,383","804,532","797,035","788,519","780,084","774,283","766,975","762,107"
42,Tennessee,"6,296,254","6,240,456","6,172,862","6,089,453","5,995,748","5,916,762","5,856,522","5,803,306"
43,Texas,"24,782,302","24,304,290","23,837,701","23,369,024","22,801,920","22,418,319","22,057,801","21,710,788"
44,Utah,"2,784,572","2,727,343","2,663,796","2,583,724","2,499,637","2,438,915","2,379,938","2,334,473"
45,Vermont,"621,760","621,049","620,460","619,985","618,814","618,145","616,559","614,950"
46,Virginia,"7,882,590","7,795,424","7,719,749","7,646,996","7,563,887","7,468,914","7,373,694","7,283,541"
47,Washington,"6,664,195","6,566,073","6,464,979","6,372,243","6,261,282","6,184,289","6,113,262","6,056,187"
48,West Virginia,"1,819,777","1,814,873","1,811,198","1,807,237","1,803,920","1,803,302","1,802,238","1,799,411"
49,Wisconsin,"5,654,774","5,627,610","5,601,571","5,571,680","5,541,443","5,511,385","5,476,796","5,446,766"
50,Wyoming,"544,270","532,981","523,414","512,841","506,242","502,988","499,189","497,069"
51,Puerto Rico,"3,967,288","3,954,553","3,941,235","3,926,744","3,910,722","3,893,931","3,876,637","3,858,272"

In [178]:
Population = pd.merge(pop09,pop13, how="inner", on="State")

In [179]:
Population

,State,2009,2008,2007,2006,2005,2004,2003,2002,2010,2011,2012,2013
0,Alabama,"4,708,708","4,677,464","4,637,904","4,597,688","4,545,049","4,512,190","4,490,591","4,472,420","4,785,161","4,801,108","4,816,089","4,830,533"
1,Alaska,"698,473","688,125","682,297","677,325","669,488","661,569","650,884","642,691","714,021","722,720","731,228","737,442"
2,Arizona,"6,595,778","6,499,377","6,362,241","6,192,100","5,974,834","5,759,425","5,591,206","5,452,108","6,408,208","6,468,732","6,553,262","6,630,799"
3,Arkansas,"2,889,450","2,867,764","2,842,194","2,815,097","2,776,221","2,746,161","2,722,291","2,704,732","2,922,394","2,938,538","2,949,499","2,957,957"
4,California,"36,961,664","36,580,371","36,226,122","35,979,208","35,795,255","35,558,419","35,251,107","34,876,194","37,334,079","37,700,034","38,056,055","38,414,128"
5,Colorado,"5,024,748","4,935,213","4,842,259","4,753,044","4,660,780","4,599,681","4,548,775","4,504,265","5,048,254","5,119,480","5,191,731","5,271,132"
6,Connecticut,"3,518,288","3,502,932","3,488,633","3,485,162","3,477,416","3,474,610","3,467,673","3,448,382","3,579,717","3,589,759","3,593,541","3,597,168"
7,Delaware,"885,122","876,211","864,896","853,022","839,906","826,639","814,905","804,131","899,791","907,916","917,099","925,353"
8,District of Columbia,"599,657","590,074","586,409","583,978","582,049","579,796","577,777","579,585","605,126","620,472","635,342","649,540"
9,Florida,"18,537,969","18,423,878","18,277,888","18,088,505","17,783,868","17,375,259","16,981,183","16,680,309","18,849,890","19,105,533","19,352,021","19,594,467"
10,Georgia,"9,829,211","9,697,838","9,533,761","9,330,086","9,097,428","8,913,676","8,735,259","8,585,535","9,713,454","9,812,280","9,917,639","9,991,562"
11,Hawaii,"1,295,178","1,287,481","1,276,832","1,275,599","1,266,117","1,252,782","1,239,298","1,228,069","1,363,980","1,378,227","1,392,641","1,408,765"
12,Idaho,"1,545,801","1,527,506","1,499,245","1,464,413","1,425,862","1,391,718","1,364,109","1,342,149","1,570,986","1,584,134","1,596,097","1,612,785"
13,Illinois,"12,910,409","12,842,954","12,779,417","12,718,011","12,674,452","12,645,295","12,597,981","12,558,229","12,841,249","12,861,882","12,875,167","12,889,580"
14,Indiana,"6,423,113","6,388,309","6,346,113","6,301,700","6,253,120","6,214,454","6,181,789","6,149,007","6,490,590","6,516,845","6,538,283","6,570,518"
15,Iowa,"3,007,856","2,993,987","2,978,719","2,964,391","2,949,450","2,941,358","2,932,799","2,929,264","3,050,694","3,065,389","3,076,636","3,092,224"
16,Kansas,"2,818,747","2,797,375","2,775,586","2,755,700","2,741,771","2,730,765","2,721,955","2,712,598","2,858,824","2,869,917","2,886,281","2,894,630"
17,Kentucky,"4,314,113","4,287,931","4,256,278","4,219,374","4,182,293","4,147,970","4,118,627","4,091,330","4,347,937","4,367,882","4,382,667","4,398,500"
18,Louisiana,"4,492,076","4,451,513","4,376,122","4,240,327","4,497,691","4,489,327","4,474,726","4,466,068","4,544,951","4,575,381","4,603,676","4,627,491"
19,Maine,"1,318,301","1,319,691","1,317,308","1,314,963","1,311,631","1,308,253","1,303,102","1,293,938","1,327,695","1,328,257","1,328,888","1,328,778"
20,Maryland,"5,699,478","5,658,655","5,634,242","5,612,196","5,582,520","5,542,659","5,496,708","5,439,913","5,788,409","5,844,171","5,890,740","5,936,040"
21,Massachusetts,"6,593,587","6,543,595","6,499,275","6,466,399","6,453,031","6,451,279","6,451,637","6,440,978","6,565,036","6,611,797","6,657,780","6,708,810"
22,Michigan,"9,969,727","10,002,486","10,050,847","10,082,438","10,090,554","10,089,305","10,066,351","10,038,767","9,877,369","9,876,589","9,886,879","9,900,506"
23,Minnesota,"5,266,214","5,230,567","5,191,206","5,148,346","5,106,560","5,079,344","5,047,862","5,017,458","5,310,903","5,348,119","5,380,443","5,420,541"
24,Mississippi,"2,951,996","2,940,212","2,921,723","2,897,150","2,900,116","2,886,006","2,867,678","2,858,643","2,970,316","2,977,999","2,985,660","2,990,976"
25,Missouri,"5,987,580","5,956,335","5,909,824","5,861,572","5,806,639","5,758,444","5,714,847","5,680,852","5,996,052","6,010,587","6,025,468","6,043,708"
26,Montana,"974,989","968,035","957,225","946,230","934,801","925,887","916,750","909,868","990,643","997,746","1,005,157","1,014,402"
27,Nebraska,"1,796,619","1,781,949","1,769,912","1,760,435","1,751,721","1,742,184","1,733,680","1,725,083","1,830,025","1,842,383","1,855,973","1,869,300"
28,Nevada,"2,643,085","2,615,772","2,567,752","2,493,405","2,408,804","2,328,703","2,236,949","2,166,214","2,703,440","2,718,819","2,754,874","2,790,366"
29,New Hampshire,"1,324,575","1,321,872","1,317,343","1,311,894","1,301,415","1,292,766","1,281,871","1,271,163","1,316,708","1,318,344","1,321,393","1,322,660"
30,New Jersey,"8,707,739","8,663,398","8,636,043","8,623,721","8,621,837","8,611,530","8,583,481","8,544,115","8,803,881","8,842,934","8,874,893","8,907,384"
31,New Mexico,"2,009,671","1,986,763","1,968,731","1,942,608","1,916,538","1,891,829","1,869,683","1,850,035","2,064,741","2,078,226","2,084,792","2,086,890"
32,New York,"19,541,453","19,467,789","19,422,777","19,356,564","19,330,891","19,297,933","19,231,101","19,161,873","19,402,920","19,523,202","19,606,981","19,691,032"
33,North Carolina,"9,380,884","9,247,134","9,064,074","8,866,977","8,669,452","8,531,283","8,416,451","8,316,617","9,558,979","9,651,025","9,747,021","9,845,432"
34,North Dakota,"646,844","641,421","638,202","636,771","635,365","636,303","632,809","633,617","674,530","685,326","702,265","723,626"
35,Ohio,"11,542,645","11,528,072","11,520,815","11,492,495","11,475,262","11,464,593","11,445,180","11,420,981","11,540,766","11,545,442","11,551,783","11,572,232"
36,Oklahoma,"3,687,050","3,644,025","3,612,186","3,574,334","3,532,769","3,514,449","3,498,687","3,484,754","3,759,596","3,786,626","3,817,679","3,853,405"
37,Oregon,"3,825,657","3,782,991","3,732,957","3,677,545","3,617,869","3,573,505","3,550,180","3,517,111","3,837,972","3,868,509","3,899,444","3,928,030"
38,Pennsylvania,"12,604,767","12,566,368","12,522,531","12,471,142","12,418,161","12,388,368","12,357,524","12,326,302","12,712,014","12,745,202","12,772,789","12,783,536"
39,Rhode Island,"1,053,209","1,053,502","1,055,009","1,060,196","1,064,989","1,071,414","1,071,504","1,066,034","1,053,219","1,051,856","1,052,393","1,052,856"
40,South Carolina,"4,561,242","4,503,280","4,424,232","4,339,399","4,256,199","4,201,306","4,146,474","4,103,934","4,635,894","4,672,733","4,721,341","4,768,498"
41,South Dakota,"812,383","804,532","797,035","788,519","780,084","774,283","766,975","762,107","816,299","824,289","834,631","845,270"
42,Tennessee,"6,296,254","6,240,456","6,172,862","6,089,453","5,995,748","5,916,762","5,856,522","5,803,306","6,356,585","6,398,408","6,455,469","6,496,130"
43,Texas,"24,782,302","24,304,290","23,837,701","23,369,024","22,801,920","22,418,319","22,057,801","21,710,788","25,244,363","25,654,464","26,089,741","26,500,674"
44,Utah,"2,784,572","2,727,343","2,663,796","2,583,724","2,499,637","2,438,915","2,379,938","2,334,473","2,775,426","2,816,440","2,856,343","2,903,685"
45,Vermont,"621,760","621,049","620,460","619,985","618,814","618,145","616,559","614,950","625,984","626,687","626,398","627,129"
46,Virginia,"7,882,590","7,795,424","7,719,749","7,646,996","7,563,887","7,468,914","7,373,694","7,283,541","8,025,787","8,110,783","8,193,374","8,267,875"
47,Washington,"6,664,195","6,566,073","6,464,979","6,372,243","6,261,282","6,184,289","6,113,262","6,056,187","6,743,060","6,823,229","6,897,292","6,973,281"
48,West Virginia,"1,819,777","1,814,873","1,811,198","1,807,237","1,803,920","1,803,302","1,802,238","1,799,411","1,854,225","1,854,948","1,856,283","1,852,985"
49,Wisconsin,"5,654,774","5,627,610","5,601,571","5,571,680","5,541,443","5,511,385","5,476,796","5,446,766","5,690,204","5,709,720","5,726,422","5,743,653"
50,Wyoming,"544,270","532,981","523,414","512,841","506,242","502,988","499,189","497,069","564,516","567,768","577,080","583,131"
51,Puerto Rico,"3,967,288","3,954,553","3,941,235","3,926,744","3,910,722","3,893,931","3,876,637","3,858,272","3,721,526","3,678,736","3,634,487","3,593,079"

In [180]:
Pop =Population.melt(id_vars=["State"], 
        var_name="Date", 
        value_name="Population")

In [181]:
Pop

             State  Date  Population
0          Alabama  2009   4,708,708
1           Alaska  2009     698,473
2          Arizona  2009   6,595,778
3         Arkansas  2009   2,889,450
4       California  2009  36,961,664
..             ...   ...         ...
619     Washington  2013   6,973,281
620  West Virginia  2013   1,852,985
621      Wisconsin  2013   5,743,653
622        Wyoming  2013     583,131
623    Puerto Rico  2013   3,593,079

[624 rows x 3 columns]

In [182]:
Grads2 = "resources/Grads_db2.csv"
Grads = pd.read_csv(Grads2)
Inst2 = "resources/Inst2.csv"
Schools = pd.read_csv(Inst2)

In [183]:
len(Grads)

15492

In [184]:
Grads.head()

,Unnamed: 0,unitid,year,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate
0,0,100654,2002,680.0,139.0,263.0,20.4,38.7
1,1,100654,2003,748.0,153.0,288.0,20.5,38.5
2,2,100654,2004,955.0,173.0,314.0,18.1,32.9
3,3,100654,2005,1046.0,91.0,339.0,8.7,32.4
4,4,100654,2006,967.0,112.0,326.0,11.6,33.7

In [185]:
Grads2 = pd.merge(Grads,Schools, how="outer", on="unitid")

In [186]:
len(Grads2)

15492

In [187]:
Grads2.head()

,Unnamed: 0_x,unitid,year,grad_cohort,grad_100,grad_150,grad_100_rate,grad_150_rate,Unnamed: 0_y,chronname,city,state,level,control,student_count,med_sat_value,aid_value,grad_100_value,grad_150_value
0,0,100654,2002,680.0,139.0,263.0,20.4,38.7,0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
1,1,100654,2003,748.0,153.0,288.0,20.5,38.5,0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
2,2,100654,2004,955.0,173.0,314.0,18.1,32.9,0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
3,3,100654,2005,1046.0,91.0,339.0,8.7,32.4,0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
4,4,100654,2006,967.0,112.0,326.0,11.6,33.7,0,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1

In [188]:
Grads = Grads2[["unitid","state","year","control","grad_100","grad_150"]]

In [189]:
Grads

       unitid       state  year                 control  grad_100  grad_150
0      100654     Alabama  2002                  Public     139.0     263.0
1      100654     Alabama  2003                  Public     153.0     288.0
2      100654     Alabama  2004                  Public     173.0     314.0
3      100654     Alabama  2005                  Public      91.0     339.0
4      100654     Alabama  2006                  Public     112.0     326.0
...       ...         ...   ...                     ...       ...       ...
15487  454184    New York  2012  Private not-for-profit       0.0       0.0
15488  454184    New York  2013  Private not-for-profit       1.0       1.0
15489  462354  California  2011  Private not-for-profit       0.0       0.0
15490  462354  California  2012  Private not-for-profit       0.0       0.0
15491  462354  California  2013  Private not-for-profit       0.0       0.0

[15492 rows x 6 columns]

In [190]:
ByStateYear = Grads.groupby(["state","year"],as_index=False).sum()

In [191]:
ByStateYear

       state  year   unitid  grad_100  grad_150
0    Alabama  2002  2232644     801.0    1810.0
1    Alabama  2003  2232644     722.0    1688.0
2    Alabama  2004  2232644     730.0    1837.0
3    Alabama  2005  2232644     858.0    2155.0
4    Alabama  2006  2232644     892.0    2036.0
..       ...   ...      ...       ...       ...
607  Wyoming  2009   240727       0.0       5.0
608  Wyoming  2010   240727       0.0       7.0
609  Wyoming  2011   240727       2.0       5.0
610  Wyoming  2012   240727       4.0       7.0
611  Wyoming  2013   240727       2.0       6.0

[612 rows x 5 columns]

In [192]:
Pop["Date"]= Pop["Date"].astype(int)

In [254]:
ByStateYearplusPop = pd.merge(ByStateYear,Pop, how="inner", left_on =["state","year"], right_on=["State","Date"])

In [255]:
ByStateYearplusPop

       state  year   unitid  grad_100  grad_150    State  Date Population
0    Alabama  2002  2232644     801.0    1810.0  Alabama  2002  4,472,420
1    Alabama  2003  2232644     722.0    1688.0  Alabama  2003  4,490,591
2    Alabama  2004  2232644     730.0    1837.0  Alabama  2004  4,512,190
3    Alabama  2005  2232644     858.0    2155.0  Alabama  2005  4,545,049
4    Alabama  2006  2232644     892.0    2036.0  Alabama  2006  4,597,688
..       ...   ...      ...       ...       ...      ...   ...        ...
607  Wyoming  2009   240727       0.0       5.0  Wyoming  2009    544,270
608  Wyoming  2010   240727       0.0       7.0  Wyoming  2010    564,516
609  Wyoming  2011   240727       2.0       5.0  Wyoming  2011    567,768
610  Wyoming  2012   240727       4.0       7.0  Wyoming  2012    577,080
611  Wyoming  2013   240727       2.0       6.0  Wyoming  2013    583,131

[612 rows x 8 columns]

In [256]:
ByStateYearplusPop["Total100pls150"] = ByStateYearplusPop["grad_100"] + ByStateYearplusPop["grad_150"]

In [257]:
ByStateYearplusPop = ByStateYearplusPop[["state","year","grad_100","grad_150","Population","Total100pls150"]]

In [258]:
ByStateYearplusPop

       state  year  grad_100  grad_150 Population  Total100pls150
0    Alabama  2002     801.0    1810.0  4,472,420          2611.0
1    Alabama  2003     722.0    1688.0  4,490,591          2410.0
2    Alabama  2004     730.0    1837.0  4,512,190          2567.0
3    Alabama  2005     858.0    2155.0  4,545,049          3013.0
4    Alabama  2006     892.0    2036.0  4,597,688          2928.0
..       ...   ...       ...       ...        ...             ...
607  Wyoming  2009       0.0       5.0    544,270             5.0
608  Wyoming  2010       0.0       7.0    564,516             7.0
609  Wyoming  2011       2.0       5.0    567,768             7.0
610  Wyoming  2012       4.0       7.0    577,080            11.0
611  Wyoming  2013       2.0       6.0    583,131             8.0

[612 rows x 6 columns]

In [259]:
ByStateYearplusPop= ByStateYearplusPop.replace(to_replace=',',value='', regex = True)

In [260]:
ByStateYearplusPop["Population"]= ByStateYearplusPop["Population"].astype(float)

In [261]:
ByStateYearplusPop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 612 entries, 0 to 611
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   state           612 non-null    object
 1   year            612 non-null    int64
 2   grad_100        612 non-null    float64
 3   grad_150        612 non-null    float64
 4   Population      612 non-null    float64
 5   Total100pls150  612 non-null    float64
dtypes: float64(4), int64(1), object(1)
memory usage: 33.5+ KB

In [262]:
ByStateYearplusPop

       state  year  grad_100  grad_150  Population  Total100pls150
0    Alabama  2002     801.0    1810.0   4472420.0          2611.0
1    Alabama  2003     722.0    1688.0   4490591.0          2410.0
2    Alabama  2004     730.0    1837.0   4512190.0          2567.0
3    Alabama  2005     858.0    2155.0   4545049.0          3013.0
4    Alabama  2006     892.0    2036.0   4597688.0          2928.0
..       ...   ...       ...       ...         ...             ...
607  Wyoming  2009       0.0       5.0    544270.0             5.0
608  Wyoming  2010       0.0       7.0    564516.0             7.0
609  Wyoming  2011       2.0       5.0    567768.0             7.0
610  Wyoming  2012       4.0       7.0    577080.0            11.0
611  Wyoming  2013       2.0       6.0    583131.0             8.0

[612 rows x 6 columns]

In [263]:
ByStateYearplusPop["TotalPercapita"] = (ByStateYearplusPop["Total100pls150"]/(ByStateYearplusPop["Population"]))*100000

In [264]:
ByStateYearplusPop

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
0,Alabama,2002,801.0,1810.0,4472420.0,2611.0,58.380027
1,Alabama,2003,722.0,1688.0,4490591.0,2410.0,53.667769
2,Alabama,2004,730.0,1837.0,4512190.0,2567.0,56.890335
3,Alabama,2005,858.0,2155.0,4545049.0,3013.0,66.291915
4,Alabama,2006,892.0,2036.0,4597688.0,2928.0,63.684182
...,...,...,...,...,...,...,...
607,Wyoming,2009,0.0,5.0,544270.0,5.0,0.918662
608,Wyoming,2010,0.0,7.0,564516.0,7.0,1.240000
609,Wyoming,2011,2.0,5.0,567768.0,7.0,1.232898
610,Wyoming,2012,4.0,7.0,577080.0,11.0,1.906148
611,Wyoming,2013,2.0,6.0,583131.0,8.0,1.371904

In [270]:
MeanMax = ByStateYearplusPop.groupby(['year'])["TotalPercapita"].max()

In [271]:
MeanMax

year
2002    221.192750
2003    236.942627
2004    256.297042
2005    230.221167
2006    301.381216
2007    316.843705
2008    297.759264
2009    315.180178
2010    329.683405
2011    296.226099
2012    311.170991
2013    279.890384
Name: TotalPercapita, dtype: float64

In [265]:
inx = ByStateYearplusPop.groupby(['year'])["TotalPercapita"].transform(max)==ByStateYearplusPop["TotalPercapita"]

In [266]:
ByStateYearplusPop[inx]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
96,District of Columbia,2002,563.0,719.0,579585.0,1282.0,221.192750
97,District of Columbia,2003,524.0,845.0,577777.0,1369.0,236.942627
98,District of Columbia,2004,606.0,880.0,579796.0,1486.0,256.297042
99,District of Columbia,2005,550.0,790.0,582049.0,1340.0,230.221167
100,District of Columbia,2006,723.0,1037.0,583978.0,1760.0,301.381216
101,District of Columbia,2007,798.0,1060.0,586409.0,1858.0,316.843705
102,District of Columbia,2008,731.0,1026.0,590074.0,1757.0,297.759264
103,District of Columbia,2009,829.0,1061.0,599657.0,1890.0,315.180178
104,District of Columbia,2010,841.0,1154.0,605126.0,1995.0,329.683405
105,District of Columbia,2011,787.0,1051.0,620472.0,1838.0,296.226099
106,District of Columbia,2012,817.0,1160.0,635342.0,1977.0,311.170991
107,District of Columbia,2013,742.0,1076.0,649540.0,1818.0,279.890384

In [280]:
Testing = ByStateYearplusPop.loc[ByStateYearplusPop["state"]=="Pennsylvania"]

In [281]:
Testing

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
456,Pennsylvania,2002,1033.0,1894.0,12326302.0,2927.0,23.745970
457,Pennsylvania,2003,1077.0,2031.0,12357524.0,3108.0,25.150669
458,Pennsylvania,2004,1112.0,2123.0,12388368.0,3235.0,26.113206
459,Pennsylvania,2005,1156.0,2237.0,12418161.0,3393.0,27.322886
460,Pennsylvania,2006,1342.0,2418.0,12471142.0,3760.0,30.149605
461,Pennsylvania,2007,1406.0,2466.0,12522531.0,3872.0,30.920267
462,Pennsylvania,2008,1504.0,2565.0,12566368.0,4069.0,32.380080
463,Pennsylvania,2009,1579.0,2665.0,12604767.0,4244.0,33.669801
464,Pennsylvania,2010,1574.0,2734.0,12712014.0,4308.0,33.889201
465,Pennsylvania,2011,1767.0,2990.0,12745202.0,4757.0,37.323849
466,Pennsylvania,2012,1971.0,3267.0,12772789.0,5238.0,41.009054
467,Pennsylvania,2013,1932.0,3136.0,12783536.0,5068.0,39.644743

In [305]:
Testing2 = ByStateYearplusPop.loc[ByStateYearplusPop["state"]=="North Carolina"]

In [306]:
Testing2

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
396,North Carolina,2002,1832.0,3171.0,8316617.0,5003.0,60.156672
397,North Carolina,2003,1819.0,3408.0,8416451.0,5227.0,62.104562
398,North Carolina,2004,1834.0,3430.0,8531283.0,5264.0,61.702325
399,North Carolina,2005,2151.0,3726.0,8669452.0,5877.0,67.789752
400,North Carolina,2006,2126.0,3808.0,8866977.0,5934.0,66.922470
401,North Carolina,2007,2213.0,4003.0,9064074.0,6216.0,68.578434
402,North Carolina,2008,2146.0,4016.0,9247134.0,6162.0,66.636863
403,North Carolina,2009,2218.0,4340.0,9380884.0,6558.0,69.908124
404,North Carolina,2010,2189.0,4320.0,9558979.0,6509.0,68.093046
405,North Carolina,2011,2237.0,4525.0,9651025.0,6762.0,70.065097
406,North Carolina,2012,2349.0,4778.0,9747021.0,7127.0,73.119777
407,North Carolina,2013,2446.0,4776.0,9845432.0,7222.0,73.353815

In [272]:
inx2 = ByStateYearplusPop.groupby(['year'])["Total100pls150"].transform(max)==ByStateYearplusPop["Total100pls150"]

In [284]:
ByStateYearplusPop[inx2]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
396,North Carolina,2002,1832.0,3171.0,8316617.0,5003.0,60.156672
397,North Carolina,2003,1819.0,3408.0,8416451.0,5227.0,62.104562
398,North Carolina,2004,1834.0,3430.0,8531283.0,5264.0,61.702325
399,North Carolina,2005,2151.0,3726.0,8669452.0,5877.0,67.789752
400,North Carolina,2006,2126.0,3808.0,8866977.0,5934.0,66.922470
401,North Carolina,2007,2213.0,4003.0,9064074.0,6216.0,68.578434
402,North Carolina,2008,2146.0,4016.0,9247134.0,6162.0,66.636863
403,North Carolina,2009,2218.0,4340.0,9380884.0,6558.0,69.908124
404,North Carolina,2010,2189.0,4320.0,9558979.0,6509.0,68.093046
405,North Carolina,2011,2237.0,4525.0,9651025.0,6762.0,70.065097
406,North Carolina,2012,2349.0,4778.0,9747021.0,7127.0,73.119777
407,North Carolina,2013,2446.0,4776.0,9845432.0,7222.0,73.353815

In [274]:
ByStateYearplusPop

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
0,Alabama,2002,801.0,1810.0,4472420.0,2611.0,58.380027
1,Alabama,2003,722.0,1688.0,4490591.0,2410.0,53.667769
2,Alabama,2004,730.0,1837.0,4512190.0,2567.0,56.890335
3,Alabama,2005,858.0,2155.0,4545049.0,3013.0,66.291915
4,Alabama,2006,892.0,2036.0,4597688.0,2928.0,63.684182
...,...,...,...,...,...,...,...
607,Wyoming,2009,0.0,5.0,544270.0,5.0,0.918662
608,Wyoming,2010,0.0,7.0,564516.0,7.0,1.240000
609,Wyoming,2011,2.0,5.0,567768.0,7.0,1.232898
610,Wyoming,2012,4.0,7.0,577080.0,11.0,1.906148
611,Wyoming,2013,2.0,6.0,583131.0,8.0,1.371904

In [275]:
Schools

,Unnamed: 0,unitid,chronname,city,state,level,control,student_count,med_sat_value,aid_value,grad_100_value,grad_150_value
0,0,100654,Alabama A&M University,Normal,Alabama,4-year,Public,4051,823.0,7142.0,10.0,29.1
1,1,100663,University of Alabama at Birmingham,Birmingham,Alabama,4-year,Public,11502,1146.0,6088.0,29.4,53.5
2,3,100706,University of Alabama at Huntsville,Huntsville,Alabama,4-year,Public,5696,1180.0,6647.0,16.5,48.4
3,4,100724,Alabama State University,Montgomery,Alabama,4-year,Public,5356,830.0,7256.0,8.8,25.2
4,5,100751,University of Alabama at Tuscaloosa,Tuscaloosa,Alabama,4-year,Public,29440,1171.0,10390.0,42.7,66.7
...,...,...,...,...,...,...,...,...,...,...,...,...
1292,3572,446048,Ave Maria University,Ave Maria,Florida,4-year,Private not-for-profit,906,1070.0,15463.0,54.7,57.7
1293,3639,448840,University of South Florida at St. Petersburg,St. Petersburg,Florida,4-year,Public,4025,1070.0,5005.0,22.0,42.7
1294,3651,449764,Visible School,Memphis,Tennessee,4-year,Private not-for-profit,118,1070.0,4958.0,0.0,0.0
1295,3717,454184,King's College (N.Y.),New York,New York,4-year,Private not-for-profit,516,1160.0,19698.0,56.8,61.4
1296,3794,462354,John Paul the Great Catholic University,Escondido,California,4-year,Private not-for-profit,140,1069.0,9395.0,51.5,51.5

In [278]:
 Schools2 = Schools.groupby(['state']).count()

In [279]:
Schools2

,Unnamed: 0,unitid,chronname,city,level,control,student_count,med_sat_value,aid_value,grad_100_value,grad_150_value
state,,,,,,,,,,,
Alabama,22,22,22,22,22,22,22,22,22,22,22
Alaska,1,1,1,1,1,1,1,1,1,1,1
Arizona,6,6,6,6,6,6,6,6,6,6,6
Arkansas,17,17,17,17,17,17,17,17,17,17,17
California,81,81,81,81,81,81,81,81,81,81,81
Colorado,15,15,15,15,15,15,15,15,15,15,15
Connecticut,14,14,14,14,14,14,14,14,14,14,14
Delaware,3,3,3,3,3,3,3,3,3,3,3
District of Columbia,6,6,6,6,6,6,6,6,6,6,6
Florida,40,40,40,40,40,40,40,40,40,40,40
Georgia,35,35,35,35,35,35,35,35,35,35,35
Hawaii,6,6,6,6,6,6,6,6,6,6,6
Idaho,7,7,7,7,7,7,7,7,7,7,7
Illinois,45,45,45,45,45,45,45,45,45,45,45
Indiana,41,41,41,41,41,41,41,41,41,41,41
Iowa,23,23,23,23,23,23,23,23,23,23,23
Kansas,22,22,22,22,22,22,22,22,22,22,22
Kentucky,25,25,25,25,25,25,25,25,25,25,25
Louisiana,18,18,18,18,18,18,18,18,18,18,18
Maine,11,11,11,11,11,11,11,11,11,11,11
Maryland,20,20,20,20,20,20,20,20,20,20,20
Massachusetts,51,51,51,51,51,51,51,51,51,51,51
Michigan,35,35,35,35,35,35,35,35,35,35,35
Minnesota,29,29,29,29,29,29,29,29,29,29,29
Mississippi,15,15,15,15,15,15,15,15,15,15,15
Missouri,34,34,34,34,34,34,34,34,34,34,34
Montana,6,6,6,6,6,6,6,6,6,6,6
Nebraska,15,15,15,15,15,15,15,15,15,15,15
Nevada,2,2,2,2,2,2,2,2,2,2,2
New Hampshire,8,8,8,8,8,8,8,8,8,8,8
New Jersey,27,27,27,27,27,27,27,27,27,27,27
New Mexico,5,5,5,5,5,5,5,5,5,5,5
New York,97,97,97,97,97,97,97,97,97,97,97
North Carolina,48,48,48,48,48,48,48,48,48,48,48
North Dakota,7,7,7,7,7,7,7,7,7,7,7
Ohio,50,50,50,50,50,50,50,50,50,50,50
Oklahoma,18,18,18,18,18,18,18,18,18,18,18
Oregon,18,18,18,18,18,18,18,18,18,18,18
Pennsylvania,107,107,107,107,107,107,107,107,107,107,107
Rhode Island,7,7,7,7,7,7,7,7,7,7,7
South Carolina,28,28,28,28,28,28,28,28,28,28,28
South Dakota,7,7,7,7,7,7,7,7,7,7,7
Tennessee,39,39,39,39,39,39,39,39,39,39,39
Texas,62,62,62,62,62,62,62,62,62,62,62
Utah,6,6,6,6,6,6,6,6,6,6,6
Vermont,11,11,11,11,11,11,11,11,11,11,11
Virginia,41,41,41,41,41,41,41,41,41,41,41
Washington,18,18,18,18,18,18,18,18,18,18,18
West Virginia,18,18,18,18,18,18,18,18,18,18,18
Wisconsin,29,29,29,29,29,29,29,29,29,29,29
Wyoming,1,1,1,1,1,1,1,1,1,1,1

In [285]:
inx3 = ByStateYearplusPop.groupby(['year'])["grad_100"].transform(max)==ByStateYearplusPop["grad_100"]

In [286]:
ByStateYearplusPop[inx3]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
396,North Carolina,2002,1832.0,3171.0,8316617.0,5003.0,60.156672
397,North Carolina,2003,1819.0,3408.0,8416451.0,5227.0,62.104562
398,North Carolina,2004,1834.0,3430.0,8531283.0,5264.0,61.702325
399,North Carolina,2005,2151.0,3726.0,8669452.0,5877.0,67.789752
400,North Carolina,2006,2126.0,3808.0,8866977.0,5934.0,66.922470
401,North Carolina,2007,2213.0,4003.0,9064074.0,6216.0,68.578434
402,North Carolina,2008,2146.0,4016.0,9247134.0,6162.0,66.636863
403,North Carolina,2009,2218.0,4340.0,9380884.0,6558.0,69.908124
404,North Carolina,2010,2189.0,4320.0,9558979.0,6509.0,68.093046
405,North Carolina,2011,2237.0,4525.0,9651025.0,6762.0,70.065097
406,North Carolina,2012,2349.0,4778.0,9747021.0,7127.0,73.119777
407,North Carolina,2013,2446.0,4776.0,9845432.0,7222.0,73.353815

In [287]:
inx4 = ByStateYearplusPop.groupby(['year'])["grad_150"].transform(max)==ByStateYearplusPop["grad_150"]

In [288]:
ByStateYearplusPop[inx4]

,state,year,grad_100,grad_150,Population,Total100pls150,TotalPercapita
396,North Carolina,2002,1832.0,3171.0,8316617.0,5003.0,60.156672
397,North Carolina,2003,1819.0,3408.0,8416451.0,5227.0,62.104562
398,North Carolina,2004,1834.0,3430.0,8531283.0,5264.0,61.702325
399,North Carolina,2005,2151.0,3726.0,8669452.0,5877.0,67.789752
400,North Carolina,2006,2126.0,3808.0,8866977.0,5934.0,66.922470
401,North Carolina,2007,2213.0,4003.0,9064074.0,6216.0,68.578434
402,North Carolina,2008,2146.0,4016.0,9247134.0,6162.0,66.636863
403,North Carolina,2009,2218.0,4340.0,9380884.0,6558.0,69.908124
404,North Carolina,2010,2189.0,4320.0,9558979.0,6509.0,68.093046
405,North Carolina,2011,2237.0,4525.0,9651025.0,6762.0,70.065097
406,North Carolina,2012,2349.0,4778.0,9747021.0,7127.0,73.119777
407,North Carolina,2013,2446.0,4776.0,9845432.0,7222.0,73.353815

In [289]:
Grads.head()

   unitid    state  year control  grad_100  grad_150
0  100654  Alabama  2002  Public     139.0     263.0
1  100654  Alabama  2003  Public     153.0     288.0
2  100654  Alabama  2004  Public     173.0     314.0
3  100654  Alabama  2005  Public      91.0     339.0
4  100654  Alabama  2006  Public     112.0     326.0

In [296]:
NorthCarolina = Grads.loc[(Grads["state"]=="North Carolina") & (Grads["year"]==2013)]

In [297]:
NorthCarolina

      unitid           state  year                 control  grad_100  grad_150
9197  197869  North Carolina  2013                  Public      33.0      73.0
9209  197911  North Carolina  2013  Private not-for-profit       8.0      11.0
9221  197984  North Carolina  2013  Private not-for-profit       5.0       7.0
9233  198066  North Carolina  2013  Private not-for-profit       4.0       9.0
9245  198136  North Carolina  2013  Private not-for-profit      38.0      49.0
9257  198215  North Carolina  2013  Private not-for-profit       5.0      19.0
9269  198303  North Carolina  2013  Private not-for-profit      22.0      38.0
9281  198385  North Carolina  2013  Private not-for-profit      21.0      21.0
9293  198419  North Carolina  2013  Private not-for-profit     121.0     140.0
9305  198464  North Carolina  2013                  Public     140.0     289.0
9317  198507  North Carolina  2013                  Public     122.0     239.0
9329  198516  North Carolina  2013  Private not-for-profit      51.0      57.0
9341  198543  North Carolina  2013                  Public     102.0     265.0
9353  198561  North Carolina  2013  Private not-for-profit      17.0      27.0
9365  198598  North Carolina  2013  Private not-for-profit       3.0      10.0
9377  198613  North Carolina  2013  Private not-for-profit      12.0      17.0
9389  198695  North Carolina  2013  Private not-for-profit      25.0      28.0
9401  198756  North Carolina  2013  Private not-for-profit     158.0     219.0
9413  198835  North Carolina  2013  Private not-for-profit       6.0       9.0
9425  198862  North Carolina  2013  Private not-for-profit      37.0      66.0
9437  198899  North Carolina  2013  Private not-for-profit       9.0      16.0
9449  198950  North Carolina  2013  Private not-for-profit      20.0      25.0
9461  198969  North Carolina  2013  Private not-for-profit       4.0      15.0
9473  199032  North Carolina  2013  Private not-for-profit       2.0      16.0
9485  199069  North Carolina  2013  Private not-for-profit      14.0      40.0
9497  199102  North Carolina  2013                  Public     233.0     627.0
9509  199111  North Carolina  2013                  Public      10.0      13.0
9521  199120  North Carolina  2013                  Public     315.0     369.0
9533  199139  North Carolina  2013                  Public      80.0     203.0
9545  199148  North Carolina  2013                  Public     150.0     321.0
9557  199157  North Carolina  2013                  Public     164.0     438.0
9569  199184  North Carolina  2013                  Public       8.0      10.0
9581  199193  North Carolina  2013                  Public     121.0     292.0
9593  199209  North Carolina  2013  Private not-for-profit      22.0      39.0
9605  199218  North Carolina  2013                  Public      38.0      56.0
9617  199272  North Carolina  2013  Private not-for-profit      14.0      18.0
9629  199281  North Carolina  2013                  Public      28.0      95.0
9641  199306  North Carolina  2013  Private not-for-profit       2.0       4.0
9653  199315  North Carolina  2013  Private not-for-profit       0.0       0.0
9665  199412  North Carolina  2013  Private not-for-profit       8.0      11.0
9677  199458  North Carolina  2013  Private not-for-profit       0.0       0.0
9689  199582  North Carolina  2013  Private not-for-profit      87.0     117.0
9701  199607  North Carolina  2013  Private not-for-profit      10.0      10.0
9713  199698  North Carolina  2013  Private not-for-profit       0.0       4.0
9725  199865  North Carolina  2013  Private not-for-profit       1.0       3.0
9737  199962  North Carolina  2013  Private not-for-profit      17.0      23.0
9749  199999  North Carolina  2013                  Public     142.0     386.0
9761  200004  North Carolina  2013                  Public      17.0      32.0

In [299]:
NorthCarolina.reset_index()

,index,unitid,state,year,control,grad_100,grad_150
0,9197,197869,North Carolina,2013,Public,33.0,73.0
1,9209,197911,North Carolina,2013,Private not-for-profit,8.0,11.0
2,9221,197984,North Carolina,2013,Private not-for-profit,5.0,7.0
3,9233,198066,North Carolina,2013,Private not-for-profit,4.0,9.0
4,9245,198136,North Carolina,2013,Private not-for-profit,38.0,49.0
5,9257,198215,North Carolina,2013,Private not-for-profit,5.0,19.0
6,9269,198303,North Carolina,2013,Private not-for-profit,22.0,38.0
7,9281,198385,North Carolina,2013,Private not-for-profit,21.0,21.0
8,9293,198419,North Carolina,2013,Private not-for-profit,121.0,140.0
9,9305,198464,North Carolina,2013,Public,140.0,289.0
10,9317,198507,North Carolina,2013,Public,122.0,239.0
11,9329,198516,North Carolina,2013,Private not-for-profit,51.0,57.0
12,9341,198543,North Carolina,2013,Public,102.0,265.0
13,9353,198561,North Carolina,2013,Private not-for-profit,17.0,27.0
14,9365,198598,North Carolina,2013,Private not-for-profit,3.0,10.0
15,9377,198613,North Carolina,2013,Private not-for-profit,12.0,17.0
16,9389,198695,North Carolina,2013,Private not-for-profit,25.0,28.0
17,9401,198756,North Carolina,2013,Private not-for-profit,158.0,219.0
18,9413,198835,North Carolina,2013,Private not-for-profit,6.0,9.0
19,9425,198862,North Carolina,2013,Private not-for-profit,37.0,66.0
20,9437,198899,North Carolina,2013,Private not-for-profit,9.0,16.0
21,9449,198950,North Carolina,2013,Private not-for-profit,20.0,25.0
22,9461,198969,North Carolina,2013,Private not-for-profit,4.0,15.0
23,9473,199032,North Carolina,2013,Private not-for-profit,2.0,16.0
24,9485,199069,North Carolina,2013,Private not-for-profit,14.0,40.0
25,9497,199102,North Carolina,2013,Public,233.0,627.0
26,9509,199111,North Carolina,2013,Public,10.0,13.0
27,9521,199120,North Carolina,2013,Public,315.0,369.0
28,9533,199139,North Carolina,2013,Public,80.0,203.0
29,9545,199148,North Carolina,2013,Public,150.0,321.0
30,9557,199157,North Carolina,2013,Public,164.0,438.0
31,9569,199184,North Carolina,2013,Public,8.0,10.0
32,9581,199193,North Carolina,2013,Public,121.0,292.0
33,9593,199209,North Carolina,2013,Private not-for-profit,22.0,39.0
34,9605,199218,North Carolina,2013,Public,38.0,56.0
35,9617,199272,North Carolina,2013,Private not-for-profit,14.0,18.0
36,9629,199281,North Carolina,2013,Public,28.0,95.0
37,9641,199306,North Carolina,2013,Private not-for-profit,2.0,4.0
38,9653,199315,North Carolina,2013,Private not-for-profit,0.0,0.0
39,9665,199412,North Carolina,2013,Private not-for-profit,8.0,11.0
40,9677,199458,North Carolina,2013,Private not-for-profit,0.0,0.0
41,9689,199582,North Carolina,2013,Private not-for-profit,87.0,117.0
42,9701,199607,North Carolina,2013,Private not-for-profit,10.0,10.0
43,9713,199698,North Carolina,2013,Private not-for-profit,0.0,4.0
44,9725,199865,North Carolina,2013,Private not-for-profit,1.0,3.0
45,9737,199962,North Carolina,2013,Private not-for-profit,17.0,23.0
46,9749,199999,North Carolina,2013,Public,142.0,386.0
47,9761,200004,North Carolina,2013,Public,17.0,32.0

In [301]:
NorthCarolinabyschool = NorthCarolina.groupby(['unitid']).sum()

In [302]:
NorthCarolinabyschool

        year  grad_100  grad_150
unitid
197869  2013      33.0      73.0
197911  2013       8.0      11.0
197984  2013       5.0       7.0
198066  2013       4.0       9.0
198136  2013      38.0      49.0
198215  2013       5.0      19.0
198303  2013      22.0      38.0
198385  2013      21.0      21.0
198419  2013     121.0     140.0
198464  2013     140.0     289.0
198507  2013     122.0     239.0
198516  2013      51.0      57.0
198543  2013     102.0     265.0
198561  2013      17.0      27.0
198598  2013       3.0      10.0
198613  2013      12.0      17.0
198695  2013      25.0      28.0
198756  2013     158.0     219.0
198835  2013       6.0       9.0
198862  2013      37.0      66.0
198899  2013       9.0      16.0
198950  2013      20.0      25.0
198969  2013       4.0      15.0
199032  2013       2.0      16.0
199069  2013      14.0      40.0
199102  2013     233.0     627.0
199111  2013      10.0      13.0
199120  2013     315.0     369.0
199139  2013      80.0     203.0
199148  2013     150.0     321.0
199157  2013     164.0     438.0
199184  2013       8.0      10.0
199193  2013     121.0     292.0
199209  2013      22.0      39.0
199218  2013      38.0      56.0
199272  2013      14.0      18.0
199281  2013      28.0      95.0
199306  2013       2.0       4.0
199315  2013       0.0       0.0
199412  2013       8.0      11.0
199458  2013       0.0       0.0
199582  2013      87.0     117.0
199607  2013      10.0      10.0
199698  2013       0.0       4.0
199865  2013       1.0       3.0
199962  2013      17.0      23.0
199999  2013     142.0     386.0
200004  2013      17.0      32.0